<div class="wrapper" #backToTop>
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div class="col-lg-6" *ngFor="let item of list">
                <div class="find-specialities-inner">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="doctorprofile">
                        <!-- <a class="item" routerLink="{{ item.id }}"> -->
                        <img *ngIf="item.profilePic == ''" [src]="maleImg" />
                        <img
                          *ngIf="item.profilePic !== ''"
                          [src]="rootUrl + item.profilePic"
                        />
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="doctor-inner-detail">
                        <h2>{{ item.name }}</h2>
                        <p *ngFor="let specialty of item.doctorSpecialities">
                          {{ specialty.name }}
                        </p>
                        <ul>
                          <!-- <star-rating value={{item.rating}} [totalstars]="5" checkedcolor="gold" uncheckedcolor="grey"
                        size="24px" readonly="true"></star-rating> -->

                          <rating
                            [ngStyle]="{ color: 'gold' }"
                            style="text-align: right"
                            [(ngModel)]="item.rating"
                            [max]="5"
                            [readonly]="true"
                          ></rating>
                        </ul>
                        <!-- </a> -->
                        <button (click)="save(item)">Book Now</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <pagination
              [totalItems]="totalCount"
              [itemsPerPage]="pageSize"
              [maxSize]="pageSize"
              [(ngModel)]="currentPage"
              (pageChanged)="pageChanged($event)"
            >
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
