<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div class="col-md-12">
                <div class="profile-tabs">
                  <div
                    class="income-status aos-init aos-animate psychologist-section"
                    data-aos="zoom-in"
                  >
                    <div class="tab-content">
                      <div id="home" class="tab-pane active">
                        <div class="row">
                          <div
                            class="col-xs-12 col-sm-4 col-lg-2 psychologist-left-sec"
                          >
                            <span
                              ><img [src]="rootUrl + doctorInfo?.profilePic"
                            /></span>
                          </div>
                          <div class="col-xs-12 col-sm-8 col-lg-10">
                            <h2>DR.{{ doctorInfo?.name }}</h2>
                            <p
                              *ngFor="
                                let specialty of doctorInfo?.doctorSpecialities
                              "
                            >
                              {{ specialty.name }}
                            </p>
                            <span>
                              <ul>
                                <!-- <star-rating
                                  value="{{ rating }}"
                                  [totalstars]="5"
                                  checkedcolor="gold"
                                  uncheckedcolor="grey"
                                  size="24px"
                                  readonly="false"
                                ></star-rating> -->

                                <rating
                                  [ngStyle]="{ color: 'gold' }"
                                  style="text-align: right"
                                  [(ngModel)]="rating"
                                  [max]="5"
                                  [readonly]="true"
                                ></rating>
                              </ul>
                              <p (click)="checkReview()">
                                {{ doctorInfo?.reviewsCount }} Reviews
                              </p>
                            </span>
                          </div>
                          <div class="book-now-doc-list">
                            <h2>About Me</h2>
                            <p [innerHTML]="doctorInfo?.about"></p>
                            <div class="row">
                              <div class="col-lg-4">
                                <div class="book-now-doc-list-inner">
                                  <h3>Education</h3>
                                  <ul
                                    *ngFor="
                                      let education of doctorInfo?.doctorEducation
                                    "
                                  >
                                    <li>
                                      {{ education.degreeName }}|{{
                                        education.instituteName
                                      }}
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="book-now-doc-list-inner">
                                  <h3>Apointment Fee</h3>
                                  <p>
                                    Once ypur appointment is confirmed. your
                                    appointment fee will be:
                                  </p>
                                  <p class="appoint-fee-text">
                                    $ {{ doctorInfo?.appointmentFees }}/-
                                  </p>
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="book-now-doc-list-inner">
                                  <h3>Languages</h3>
                                  <ul
                                    *ngFor="
                                      let lang of doctorInfo?.doctorLangauges
                                    "
                                  >
                                    <li>{{ lang.name }}</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button (click)="bookAppointment()">
                          BOOK AN APPOINTMENT
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
