<div class="row">
  <div *ngIf="noConfirmedConsults">
    <h4>Yet there is no any Consults.</h4>
  </div>
  <div class="col-md-12 earning-main" *ngIf="!noConfirmedConsults">
    <div class="income-status" *ngFor="let item of list">
      <div class="row m-0">
        <div class="col-lg-1 successful-left-div">
          <span><img [src]="rootUrl + item?.dr_ProfilePic" /></span>
        </div>
        <div class="col-lg-8 successful-center-div">
          <h2>Dr. {{ item?.dr_FirstName }}&nbsp;{{ item?.dr_LastName }}</h2>

          <h5 *ngFor="let specialities of item.doctorSpecialities">
            {{ specialities?.name }}
          </h5>
        </div>
        <div class="col-lg-3 successful-right-div earning-right-div">
          <h4>{{ item?.slotFrom | date: "dd-MM-yyyy" }}</h4>
          <p>
            {{ item?.slotFrom | date: "hh:mm a" }} -
            {{ item?.slotTo | date: "hh:mm a" }}
          </p>

          <div *ngIf="item?.timer <= 86400 && item?.timer >= 0">
            <countdown
              [config]="{
                leftTime: item?.timer
              }"
            ></countdown>
          </div>

          <div *ngIf="item?.timer >= 86400">
            <countdown
              [config]="{ leftTime: item?.timer, format: 'ddDAY' }"
            ></countdown>
          </div>

          <div *ngIf="item?.timer < 0">
            <button (click)="joinCall(item)">Join Call</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12 payment-status">
          <h2>Payment status- <span>Confirmed</span></h2>
          <div class="dropdown show dotted-icn">
            <a
              class="btn btn-secondary"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item">Pay Now</a>
              <a class="dropdown-item">Chat</a>
              <a
                class="dropdown-item Cancel"
                (click)="cancelConfirmedAppointment(item?.appointmentId)"
                >Cancel Appointment</a
              >
              <a class="dropdown-item" (click)="sendData(item)">ViewProfile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
