<div class="wrapper">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="header-left">
            <li>
              <a>
                <img src="assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </header>
  <!--header ends here-->

  <div class="container sign-container">
    <section class="signup-main">
      <div class="row">
        <div class="col-lg-12">
          <div class="sign-left-sec">
            <h2>SIGNUP</h2>
          </div>
        </div>
        <div class="col-lg-12 pt-4 pb-4">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <input
                  type="text"
                  id=""
                  placeholder="First Name"
                  appAlphabetOnly
                  formControlName="firstName"
                  class="form-control"
                  #firstName
                  [value]="firstName.value | titlecase"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                />
                <div
                  *ngIf="submitted && f.firstName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.firstName.errors.required">
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <input
                  type="text"
                  id=""
                  placeholder="Last Name"
                  appAlphabetOnly
                  formControlName="lastName"
                  class="form-control"
                  #lastName
                  [value]="lastName.value | titlecase"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                />
                <div
                  *ngIf="submitted && f.lastName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.lastName.errors.required">
                    Last Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="form-group col-lg-6">
              <input
                class="form-control"
                formControlName="dateOfBirth"
                class="form-control"
                readonly
                placeholder="DateOfBirth"
                [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }"
                ngModel
                bsDatepicker
                [bsConfig]="{
                  dateInputFormat: 'DD/MM/YYYY',
                  showWeekNumbers: false
                }"
                [maxDate]="maxDate"
              />
              <div
                *ngIf="submitted && f.dateOfBirth.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.dateOfBirth.errors.required">
                  Date of Birth is required
                </div>
              </div>
            </div>

            <div class="form-group col-lg-6 slect-option">
              <select
                placeHolder="Gender is required"
                formControlName="genderId"
                class="form-control "
                [ngClass]="{ 'is-invalid': submitted && f.genderId.errors }"
              >
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Others</option>
              </select>
              <div
                *ngIf="submitted && f.genderId.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.genderId.errors.required">Gender is required</div>
              </div>
            </div>
          </div>
            <div class="form-group col-lg-12 patient-call">
              <!-- <input
                type="text"
                onlyNumber
                formControlName="phoneNumber"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
                ng2TelInput
                (hasError)="onError($event)"
                [ng2TelInputOptions]="{
                  initialCountry: 'in',
                  InitialDialCode: '+91'
                }"
                (countryChange)="onCountryChange($event)"
              /> -->

              <intl-input-phone
                formControlName="phoneNumber"
                [ConfigurationOption]="configOption4"
                (OnNumberChange)="onNumberChage2($event)"
                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
              ></intl-input-phone>

              <div
                *ngIf="submitted && f.phoneNumber.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.phoneNumber.errors.required">
                  Phone Number is required
                </div>
              </div>
            </div>

            <div class="sign-btn">
              <a routerLink="/login" class="sign-back">Back</a>
              <button class="sign-account">Create Account</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
