<body>
  <div class="wrapper">
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <ul class="header-left">
              <li>
                <a>
                  <img src="./assets/images/logo.png" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!--header ends here-->

    <div class="container sign-container">
      <section class="signup-main">
        <div class="row">
          <div class="col-lg-12 patient-signup">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="form-group col-lg-12">
                  <input
                    [class.is-invalid]="
                      loginForm.get('email').invalid &&
                      loginForm.get('email').touched
                    "
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />

                  <div *ngIf="(email.invalid && email.touched) || email.dirty">
                    <small *ngIf="email.errors?.required" class="text-danger"
                      >Email is required</small
                    >
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="email.errors?.pattern" class="text-danger"
                      >Please provide a valid email address</small
                    >
                  </div>

                  <!-- <div
                    *ngIf="f.email.touched && f.email.dirty && f.email.errors"
                    class="invalid-feedback"
                  > -->
                  <!-- <div *ngIf="f.email.errors.required">Email is required</div> -->
                  <!-- <div
                      *ngIf="
                        f.email.errors.email && f.email.touched && f.email.dirty
                      "
                    >
                      Email must be a valid email address
                    </div>
                  </div> -->
                </div>
                <div class="form-group col-lg-12">
                  <!-- <input
                    type="password"
                    id=""
                    placeholder="Password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  /> -->

                  <input
                    [class.is-invalid]="
                      loginForm.get('password').invalid &&
                      loginForm.get('password').touched
                    "
                    type="password"
                    class="form-control"
                    formControlName="password"
                  />

                  <!--
                  <div
                    *ngIf="submitted && f.password.errors"
                    class="invalid-feedback"
                  > -->
                  <!-- <div *ngIf="f.password.errors.required">Password is required</div> -->
                  <!-- <div *ngIf="f.password.errors.pattern">
                      Password should be at least one letter,one capital letter,
                      one number and one special characters
                    </div>
                  </div> -->

                  <div
                    *ngIf="
                      (password.invalid && password.touched) || password.dirty
                    "
                  >
                    <small
                      *ngIf="password.errors?.required"
                      class="text-danger"
                    >
                      Password must be at least 8 characters</small
                    >
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="password.errors?.pattern" class="text-danger"
                      >New Password should be at least one letter,one capital
                      letter, one number and one special character</small
                    >
                  </div>
                </div>
              </div>
              <div class="form-row signup-checkbox">
                <div class="form-check w-100 text-right">
                  <label class="form-check-label text-right" for="exampleCheck1"
                    ><a routerLink="/forgot"
                      >I have Forgotten my password</a
                    ></label
                  >
                </div>
              </div>

              <div class="sign-btn">
                <button class="sign-account" [disabled]="!loginForm.valid">
                  Login
                </button>
              </div>

              <div class="or-text">
                <h4 class="text-center pt-5">OR</h4>
              </div>
              <div class="social-icons">
                <ul>
                  <li class="facebook-icon" (click)="signInWithFacebook()">
                    <img src="assets/images/facebook-icon.png" />
                    <h5>Facebook</h5>
                  </li>
                  <li
                    class="google-icon"
                    (click)="signInWithGoogle('loginwithgoogle')"
                  >
                    <img src="assets/images/google-icon.png" />
                    <h5>Google</h5>
                  </li>
                </ul>
              </div>

              <div class="form-row signup-checkbox patient-checkbox">
                <div class="form-check w-100 text-center">
                  <label class="form-check-label text-right" for="exampleCheck1"
                    >Don't have an account?
                    <a routerLink="/register">Sign Up</a></label
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
