<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
                  <div class="profile-tabs">
                    <div
                      class="income-status aos-init aos-animate psychologist-section"
                      data-aos="zoom-in"
                    >
                      <div class="tab-content">
                        <div id="home" class="tab-pane active">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-lg-2 psychologist-left-sec">
                              <span
                                ><img [src]="rootUrl + item?.dr_ProfilePic"
                              /></span>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-10">
                              <h2>
                                DR.{{ item?.dr_FirstName }}
                                {{ item?.dr_LastName }}
                              </h2>
                              <p
                                *ngFor="
                                  let specialty of item?.doctorSpecialities
                                "
                              >
                                {{ specialty.name }}
                              </p>
                              <span> </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-8 col-lg-10 rate-now-div">
                              <p>Rate your doctor for consultation</p>
                              <ul>
                                <rating
                                  formControlName="rating"
                                  [ngStyle]="{ color: 'gold' }"
                                  style="text-align: right"
                                  value="rating"
                                  [max]="5"
                                  [readonly]="false"
                                ></rating>
                              </ul>
                              <div
                                *ngIf="
                                  submitted &&
                                  !ratingForm.controls['rating'].value &&
                                  !ratingForm.controls['comments'].value
                                "
                                class="invalid-feedback"
                              ></div>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-lg-10">
                              <input
                                formControlName="comments"
                                type="text"
                                placeholder="Describe your experience"
                              />
                              <div
                                *ngIf="
                                  submitted &&
                                  !ratingForm.controls['rating'].value &&
                                  !ratingForm.controls['comments'].value
                                "
                                class="invalid-feedback"
                              ></div>
                            </div>
                            <button
                              [disabled]="
                                !ratingForm.controls['rating'].value &&
                                !ratingForm.controls['comments'].value
                              "
                            >
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
