<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div
                class="col-lg-4"
                *ngFor="let item of specialityList; let i = index"
              >
                <div
                  class="find-specialities-inner specialist-outer"
                  (click)="save(item)"
                >
                  <div
                    class="find-specialities-img"
                    style="background-color: #e5eef5"
                  >
                    <span>
                      <img
                        *ngIf="item.profilePic == null"
                        [src]="specialitiesPlaceholderImg" />
                      <img
                        *ngIf="item.imagePath !== null"
                        [src]="rootUrl + item.imagePath"
                    /></span>
                  </div>
                  <h5>{{ item.name }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
