<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="about-us">
              <h2>TERMS AND CONDITIONS</h2>
              <div [innerHTML]="Terms">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
