<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div
              class="setting-page income-status aos-init aos-animate setting-main"
              data-aos="zoom-in"
            >
              <div class="row">
                <div class="col-lg-12">
                  <div class="setting-inner-div">
                    <h5>
                      Email Notifications
                      <span
                        ><label class="switch">
                          <input
                            type="checkbox"
                            checked
                            (change)="changedEmail()"
                            [(ngModel)]="emailNotificationStatus"
                          />
                          <span class="slider round"></span> </label
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div
                    class="setting-inner-div"
                    style="background-color: transparent"
                  >
                    <h5>
                      Sms Notifications
                      <span
                        ><label class="switch">
                          <input
                            type="checkbox"
                            (change)="onChangedSMS()"
                            [(ngModel)]="smsNotificationStatus"
                          />
                          <span class="slider round"></span> </label
                      ></span>
                    </h5>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="setting-inner-div">
                    <h5>
                      Payments
                      <span
                        ><i class="fa fa-angle-right" aria-hidden="true"></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div
                    class="setting-inner-div"
                    style="background-color: transparent"
                  >
                    <h5>
                      Change Password
                      <span
                        ><i
                          class="fa fa-angle-right"
                          aria-hidden="true"
                          routerLink="/change-password"
                        ></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="setting-inner-div">
                    <h5>
                      Privacy Policy
                      <span
                        ><i
                          class="fa fa-angle-right"
                          aria-hidden="true"
                          routerLink="/privacy"
                        ></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div
                    class="setting-inner-div"
                    style="background-color: transparent"
                  >
                    <h5>
                      Terms And Conditions
                      <span
                        ><i
                          class="fa fa-angle-right"
                          aria-hidden="true"
                          routerLink="/terms"
                        ></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="setting-inner-div">
                    <h5>
                      Contact Us
                      <span
                        ><i
                          class="fa fa-angle-right"
                          aria-hidden="true"
                          routerLink="/contact-us"
                        ></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div
                    class="setting-inner-div"
                    style="background-color: transparent"
                  >
                    <h5 (click)="onLogout()">
                      Sign out
                      <span
                        ><i class="fa fa-angle-right" aria-hidden="true"></i
                      ></span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
