<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element Attachment-reports-div ">
            <h1>ATTACHMENT AND REPORTS</h1>
            <div class="row">
              <div *ngIf="noAttachmentList">
                <h1>No Data display</h1>
              </div>
              <div class="col-md-12" *ngIf="!noAttachmentList">
                <div class="prescription-med mt-5 prescription-med mt-3 ng-star-inserted  Attachment-reports" *ngFor="let item of List">
                  <h4><span>NAME:</span><p>{{ item.reportName }}</p></h4>
                  <h4><span>DATE :</span><p>{{ item.date }}</p></h4>
                  <h4><span>DESCRIPTION :</span><p>{{ item.description }}</p></h4>
                  <div class="dropdown show dotted-icn Attachment-reports">
                    <a
                    class="btn btn-secondary"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    
                    <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuLink"
                    >
                    <a class="dropdown-item">Delete</a>
                   
                  
                    </div>
                    </div>
                 <div class="attachment-button">
                  <!-- <button
                    type="button"
                    class="more-data"
                    (click)="openModal(template, item.medicalDocumentPath)"
                  >
                    View
                  </button> -->
                
                  <ng-template #template>
                    <div class="modal-body" style="height: auto">
                      <button
                        type="button"
                        class="close pull-right"
                        aria-label="Close"
                        (click)="modalRef.hide()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>

                      <iframe
                        width="100%"
                        height="300"
                        [src]="loadFileUrl | safe"
                      ></iframe>
                    </div>
                  </ng-template>
                  <!-- <a class="more-data">More</a> -->
                </div>
              </div>
              </div>
            </div>

            <div class="row">
              <button routerLink="/attachment-reports" class="add-btn">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
