<div class="wrapper">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="header-left">
            <li>
              <a>
                <img src="assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </header>
  <!--header ends here-->

  <div class="container sign-container">
    <section class="signup-main">
      <div class="row">
        <div class="col-lg-12">
          <div class="sign-left-sec">
            <h2>SIGNUP</h2>
          </div>
        </div>
        <div class="col-lg-12 pt-4 pb-4">
          <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-lg-12">
              <input
                [class.is-invalid]="
                  registerForm.get('email').invalid &&
                  registerForm.get('email').touched
                "
                type="email"
                placeholder="Email"
                class="form-control"
                formControlName="email"
              />

              <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <small *ngIf="email.errors?.required" class="text-danger"
                  >Email is required</small
                > -->
          <!--question mark(?) is a safe navigation operator-->
          <!-- <small *ngIf="email.errors?.pattern" class="text-danger"
                  >Please provide a valid email address</small
                >
              </div>
            </div>
            <div class="form-group col-lg-12">
              <input
                [class.is-invalid]="
                  registerForm.get('password').invalid &&
                  registerForm.get('password').touched
                "
                type="password"
                placeholder="Password"
                class="form-control"
                formControlName="password"
              />

              <div
                *ngIf="(password.invalid && password.touched) || password.dirty"
              >
                <small *ngIf="password.errors?.required" class="text-danger">
                  Password must be at least 8 characters</small
                > -->
          <!--question mark(?) is a safe navigation operator-->
          <!-- <small *ngIf="password.errors?.pattern" class="text-danger"
                  >New Password should be at least one letter,one capital
                  letter, one number and one special character</small
                >
              </div>
            </div>

            <div class="sign-btn">
              <a routerLink="/login" class="sign-back">Back</a>
              <button class="sign-account" [disabled]="!registerForm.valid">
                Create Account
              </button>
            </div>
          </form> -->

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>What will be your email address?</label>
              <input
                type="text"
                placeholder="Email"
                formControlName="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && registerFormError.email.errors
                }"
              />
              <div
                *ngIf="registerFormError.email.errors?.pattern"
                style="color: red"
              >
                Email must be a valid email address
              </div>
              <div
                *ngIf="submitted && registerFormError.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="registerFormError.email.errors.required">
                  Email is required
                </div>
              </div>
            </div>
            <div class="mt-4 password-register">
              <label>Password</label>
              <div class="w-100" fxFlex>
                <!--password input filed-->
                <mat-form-field style="width: 100%">
                  <!-- <mat-label>Password</mat-label> -->
                  <mat-pass-toggle-visibility
                    #toggle
                    matSuffix
                  ></mat-pass-toggle-visibility>
                  <input
                    matInput
                    formControlName="password"
                    #password
                    class="form-control"
                    [type]="toggle.type"
                    required
                    name="password"
                  />
                </mat-form-field>
                <!--@angular-material-extensions/password-strength's main component-->
                <mat-password-strength
                  #passwordComponent
                  [password]="password.value"
                >
                </mat-password-strength>
                <!--Password's strength info-->
                <mat-password-strength-info
                  lowerCaseCriteriaMsg="contains at least one lower character"
                  upperCaseCriteriaMsg="contains at least one upper character"
                  digitsCriteriaMsg="contains at least one digit character"
                  specialCharsCriteriaMsg="contains at least one special character"
                  minCharsCriteriaMsg="contains at least 8 characters"
                  [passwordComponent]="passwordComponent"
                >
                </mat-password-strength-info>
              </div>
            </div>
            <div
              *ngIf="submitted && registerFormError.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="registerFormError.password.errors.required">
                Password is required
              </div>
            </div>

            <div class="sign-btn">
              <a routerLink="/login" class="sign-back">Back</a>
              <button
                class="sign-account sign-btn-bottom"
                type="submit"
                [disabled]="!registerForm.valid"
              >
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
