<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <div class="row">
          <div class="col-md-12">
            <div class="create-new-pass">
              <h2>Change Password</h2>

              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-lg-12">
                    <input
                      type="text"
                      formControlName="oldPassword"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.oldPassword.errors
                      }"
                      placeholder="Current Password"
                    />
                    <div
                      *ngIf="submitted && f.oldPassword.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.oldPassword.errors.required">
                        Current Password is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-lg-12">
                    <input
                      type="password"
                      formControlName="newPassword"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.newPassword.errors
                      }"
                      id=""
                      placeholder="New Password"
                    />
                    <div
                      *ngIf="submitted && f.newPassword.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.newPassword.errors.required">
                        Password is required
                      </div>
                      <div *ngIf="f.newPassword.errors.minlength">
                        Password must be at least 8 characters
                      </div>
                      <div *ngIf="f.newPassword.errors.pattern">
                        New Password should be at least one letter,one capital
                        letter, one number and one special character
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <input
                      type="password"
                      formControlName="confirmPassword"
                      class="form-control"
                      placeholder="Confirm Password"
                      [ngClass]="{
                        'is-invalid': submitted && f.confirmPassword.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.confirmPassword.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.confirmPassword.errors.required">
                        Confirm Password is required
                      </div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">
                        Passwords must match
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sign-btn">
                  <button class="sign-account">Reset Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
