<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="pr-3 pb-3" id="booking-appointment">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-2 psychologist-left-sec">
                  <span><img [src]="rootUrl + doctorInfo?.profilePic" /> </span>
                </div>
                <div
                  class="col-xs-12 col-sm-8 col-lg-10 psychologist-right-sec"
                >
                  <h2>DR.{{ doctorInfo?.name }}</h2>
                  <p *ngFor="let item of doctorInfo?.doctorSpecialities">
                    {{ item.name }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6 mt-5">
                  <!-- <bs-datepicker-inline
                    [maxDate]="nextMonth"
                    [datesEnabled]="newData"
                    [minDate]="previousDate"
                    (bsValueChange)="onSelectDate($event)"
                    [bsConfig]="{
                      showWeekNumbers: false,
                      adaptivePosition: true,
                      dateInputFormat: 'MM-DD-YYYY'
                    }"
                  >
                  </bs-datepicker-inline> -->
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Choose Date"
                    [minDate]="previousDate"
                    [maxDate]="nextMonth"
                    [datesEnabled]="newData"
                    (bsValueChange)="onSelectDate($event)"
                    #dp="bsDatepicker"
                    [bsConfig]="{
                      showWeekNumbers: false,
                      adaptivePosition: true,
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                    bsDatepicker
                  />
                </div>

                <div
                  class="col-xs-12 col-sm-6 col-lg-6 mt-5"
                  *ngIf="showTimeSlots"
                >
                  <div class="booking-appointment-time">
                    <ul>
                      No Data displays
                    </ul>
                  </div>
                </div>

                <div
                  class="col-xs-12 col-sm-6 col-lg-6 mt-5"
                  *ngIf="!showTimeSlots"
                >
                  <div class="booking-appointment-time">
                    <h4>Available Time Slots</h4>
                    <ul>
                      <li
                        *ngFor="
                          let slots of requiredTimeSlots
                            | sortBy: 'asc':'localValue'
                        "
                      >
                        <span (click)="sendDoctorId(slots)">
                          <button
                            [ngClass]="
                              !slots.isSlotAvailable ? 'reservedDates' : ''
                            "
                            [disabled]="
                              !slots.isSlotAvailable ||
                              slots.localValue < disabledPreviousTime
                            "
                            (click)="sendDoctorId(slots)"
                          >
                            {{ slots?.localValue | date: "hh:mm a" }}
                          </button></span
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
