<form [formGroup]="additionalForm" (ngSubmit)="submit()">
  <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="inputPassword4">Height</label>
      <input class="form-control" formControlName="height" (click)="openHeightModal(heighttemplate)" />
    </div>
    <div class="form-group col-lg-6">
      <label for="inputState">Weight</label>
      <input class="form-control" formControlName="weight" (click)="openWeightModal(weighttemplate)" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="inputState">Blood Group</label>

      <select formControlName="bloodGroup" class="form-control">
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
      </select>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputEmail4">Vegetarian</label>
      <select formControlName="isVegetarian" class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputEmail4">Smoking</label>
      <select formControlName="useSmoke" class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="inputEmail4">Alcohol</label>
      <select formControlName="useAlcohol" class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputEmail4">Drugs</label>
      <!-- <input type="text" class="form-control" id="" placeholder="Drugs" formControlName="drugs"> -->
      <select formControlName="useDrug" class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{{ buttonName }}</button>
</form>

<!-- Height Modal Start -->
<ng-template #heighttemplate>
  <div class="height-info">
    <h3>Select Height</h3>
    <hr />
    <tabset>
      <tab heading="Cms" id="tab1">
        <ng-container *ngFor="let i of height(201, 100)">
          <div (click)="getHeightValueinCms(i)" class="calender-boxes">
            {{ i }}
          </div>
        </ng-container>
      </tab>
      <tab heading="Feet" class="inches-box">
        <ng-container *ngFor="let i of arrayHeightInFeet">
          <div (click)="getHeightValueinfeet(i)" class="calender-boxes">
            {{ i }}
          </div>
        </ng-container>
      </tab>
    </tabset>
  </div>
</ng-template>
<!-- Height Modal End -->

<!-- Weight Modal Start -->
<ng-template #weighttemplate>
  <div class="height-info">
    <h3>Select Weight</h3>
    <hr />
    <tabset>
      <tab heading="Kgs" id="tab1">
        <ng-container *ngFor="let i of height(111, 40)">
          <div (click)="getWeightinkg(i)" class="calender-boxes">
            {{ i }}
          </div>
        </ng-container>
      </tab>
      <tab heading="Lbs" class="inches-box">
        <ng-container *ngFor="let i of height(221, 80)">
          <div (click)="getWeightinlbs(i)" class="calender-boxes">
            {{ i }}
          </div>
        </ng-container>
      </tab>
    </tabset>
  </div>
</ng-template>
<!-- Weight Modal End -->
