<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div class="col-md-12">
                <div class="profile-tabs">
                  <div
                    class="income-status aos-init aos-animate psychologist-section"
                    data-aos="zoom-in"
                  >
                    <div class="tab-content">
                      <div id="home" class="tab-pane active">
                        <div class="row doctor-profile">
                          <div
                            class="col-xs-12 col-sm-4 col-lg-2 psychologist-left-sec"
                          >
                            <span
                              ><img [src]="rootUrl + list?.profilePic"
                            /></span>
                          </div>
                          <div
                            class="col-xs-12 col-sm-5 col-lg-10 psychologist-right-sec doctor-adress"
                          >
                            <h2>DR.{{ list?.name }}</h2>
                            <p
                              *ngFor="let specialty of list?.doctorSpecialities"
                            >
                              {{ specialty.name }}
                            </p>
                            <p><i class="fa fa-check"></i>Verified</p>
                          
                          </div>
                         </div>
                         <div class="booking-timerdiv">
                           <div class="row">
                             <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="psychologist-right-sec time-left">
                                 <p>Date -</p>
                                 <h2> {{ bookingData?.localValue | date: "dd-MM-yyyy" }}</h2>
                              </div>
                             </div>
                             <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="psychologist-right-sec time-right">
                                 <p>Time -</p>
                                 <h2>{{ bookingData?.localValue | date: "hh:mm a" }}</h2> 
                               </div>
                             </div>
                            
                           </div>
                         </div>
                          <div class="book-now-doc-list">
                            <div class="row">
                              <!-- <div class="col-lg-4"></div> -->
                              <div class="col-lg-12">
                                <div class="book-now-doc-list-inner">
                                  <h3>Apointment Fee</h3>
                                  <p>
                                    Once your appointment is confirmed. your
                                    appointment fee will be:
                                  </p>
                                  <p class="appoint-fee-text">
                                    $ {{ list?.appointmentFees }}/-
                                  </p>
                                </div>
                              </div>
                              <div class="col-lg-12 bookin-request">
                                <button (click)="requestAppointment()">
                                  Request
                                </button>
                              </div>
                            </div>
                            
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </section>
</div>
