<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div class="col-md-12 info-tabs">
                <div class="profile-tabs">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#personal-info"
                        >Confirmed Consults</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#working-info"
                        >Pending Consults</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#banking-info"
                        >Past Consults</a
                      >
                    </li>
                  </ul>

                  <div
                    class="income-status aos-init aos-animate psychologist-section"
                    data-aos="zoom-in"
                  >
                    <div class="tab-content">
                      <div id="personal-info" class="tab-pane active">
                        <br />
                        <app-confirmed-consult></app-confirmed-consult>
                      </div>

                      <div id="working-info" class="tab-pane fade">
                        <br />
                        <app-pending-consults></app-pending-consults>
                      </div>
                      <div id="banking-info" class="tab-pane fade">
                        <br />
                        <app-past-consults></app-past-consults>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- body wrap start here-->
</div>
