<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content find-specialist">
          <div class="content-element">
            <div class="row">
              <div class="col-md-12">
                <div class="income-status home-top" data-aos="zoom-in">
                  <h2>Looking For a Doctor</h2>
                  <p>For your Treatment Online</p>
                  <button routerLink="/alldoctorlist">Book now</button>
                </div>
              </div>
            </div>

            <div class="profile-complition" *ngIf="showProfile">
              <div class="row">
                <div class="col-md-4 profile-complition-left">
                  <circle-progress
                    [percent]="profileComplete"
                    [maxPercent]="1000"
                    [toFixed]="0"
                    [showUnits]="true"
                    [showSubtitle]="false"
                    [showBackground]="false"
                    [showInnerStroke]="true"
                    [showZeroOuterStroke]="true"
                  >
                  </circle-progress>
                </div>
                <div class="col-md-8 profile-complition-right">
                  <h4>Just few more steps</h4>
                  <p>Your profile completion is {{ profileComplete }}%</p>

                  <button routerLink="/profile">Add</button>
                </div>
              </div>
            </div>
            <div class="find-specialities">
              <h1>Find with specialities</h1>

              <app-specialities></app-specialities>
            </div>
          </div>

          <div class="home-top-doctor">
            <h1>Our top doctors</h1>
            <div class="row mt-4">
              <!-- <div *ngIf="noDoctor">
                <h1>
                  No Data display
                </h1>
              </div> -->

              <!-- <div *ngIf="!noDoctor"> -->
              <div class="col-lg-6" *ngFor="let item of list">
                <div class="doctor-inner doctor-list" (click)="sendData(item)">
                  <!-- <a class="item"> -->
                    <div class="row">
                    <div class="col-lg-4">
                    <div class="doctorprofile">
                    <img *ngIf="item.profilePic == ''" [src]="maleImg" />
                    <img
                      *ngIf="item.profilePic !== ''"
                      [src]="rootUrl + item.profilePic"
                    />
                    </div>
                    </div>
                    <div class="col-lg-8">
                    <div class="doctor-inner-detail">
                      <h2>{{ item.name }}</h2>
                      <p *ngFor="let specialty of item.doctorSpecialities">
                        {{ specialty.name }}
                      </p>
                      <ul>
                        <!-- <star-rating
                          value="{{ item.rating }}"
                          [totalstars]="5"
                          checkedcolor="gold"
                          uncheckedcolor="grey"
                          size="24px"
                          readonly="true"
                        ></star-rating> -->

                        <rating
                          [ngStyle]="{ color: 'gold' }"
                          style="text-align: right"
                          [(ngModel)]="item.rating"
                          [max]="5"
                          [readonly]="true"
                        ></rating>
                      </ul>
                    </div>

                  <!-- </a> -->
                  <button (click)="save(item)">Book Now</button>
                </div>
              </div>
              </div>
            </div>

              <div class="col-lg-12 patient-view-btn">
                <a routerLink="/alldoctors"> More </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
