<div class="sidebar panel" id="">
  <ul>
    <!-- <div class="col-xs-12 col-sm-4 col-lg-2 psychologist-left-sec">
      <span><img src="{{profilePic}}"></span>
 </div> -->

    <li class="user-profile header">
      <div class="signup-profile">
        <img src="{{ profilePic }}" />
        <i class="fas fa-pen"></i>
        <input
          type="file"
          id="file"
          class="fileinput"
          (change)="changeProfilePic($event)"
        />
      </div>
      <div class="user-detail">
        <h4>{{ viewData?.firstName }} {{ viewData?.lastName }}</h4>
        <p>
          {{ viewData?.city | titlecase }} {{ viewData?.country | titlecase }}
        </p>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <a
        [routerLink]="['/home']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="assets/images/home-icon.png" />
        <span>Home</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/consult']" routerLinkActive="active">
        <img src="assets/images/my-consult-icon.png" />
        <span>My Consults</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/records']" routerLinkActive="active">
        <img src="assets/images/medical-record-icon.png" />
        <span>My Medical Records</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/blog']" routerLinkActive="active">
        <img src="assets/images/blog-icon.png" />
        <span>Blogs</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/profile']" routerLinkActive="active">
        <img src="assets/images/my-profile-icon.png" />
        <span>My Profile</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/prescription']" routerLinkActive="active">
        <img src="assets/images/prescriptions-icon.png" />
        <span>Prescription</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/notifications']" routerLinkActive="active">
        <img src="assets/images/notification-icon.png" />
        <span>Notifications</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/settings']" routerLinkActive="active">
        <img src="assets/images/setting-icon.png" />
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="active">
        <img src="assets/images/about-us-icon.png" />
        <span>About Us</span>
      </a>
    </li>

    <li>
      <a (click)="logout()">
        <img src="./assets/images/sign-out.png" />
        <span>Sign Out</span>
      </a>
    </li>
  </ul>
</div>
