<form [formGroup]="basicForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="inputEmail4">First Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="First Name"
        formControlName="firstName"
        [ngClass]="{
          'is-invalid': submitted && basicForm.controls.firstName.errors
        }"
        appAlphabetOnly
        #firstName
        [value]="firstName.value | titlecase"
      />

      <div
        *ngIf="submitted && basicForm.controls.firstName.errors"
        class="invalid-feedback"
      >
        <div *ngIf="basicForm.controls.firstName.errors.required">
          First Name is required
        </div>
      </div>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputPassword4">Last Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Last Name"
        appAlphabetOnly
        formControlName="lastName"
        #lastName
        [value]="lastName.value | titlecase"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
      />

      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputPassword4">Date of Birth</label>

      <input
        class="form-control"
        #datepickerYMD="bsDatepicker"
        bsDatepicker
        readonly
        [maxDate]="maxDate"
        formControlName="dateOfBirth"
        placeholder="DateofBirth"
        autocomplete="off"
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
      />
    </div>
    <div class="form-group col-lg-6">
      <label for="inputPassword4">Gender</label>
      <select
        placeHolder="Gender is required"
        formControlName="genderId"
        class="form-control"
      >
        <option value="1">Male</option>
        <option value="2">Female</option>
        <option value="3">Others</option>
      </select>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputPassword4">Country</label>
      <select
        class="form-control"
        formControlName="countryId"
        (change)="onChangeCountry($event.target.value)"
        id="countryId"
      >
        <option disabled selected="true" value="">Choose Country</option>
        <option *ngFor="let country of countriesList" [value]="country.id">
          {{ country.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputPassword4">State</label>
      <select class="form-control" formControlName="stateId" id="stateId">
        <option disabled selected="true" value="">Choose State</option>
        <option *ngFor="let state of statesList" [value]="state.id">
          {{ state.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputPassword4">City</label>
      <input
        type="text"
        class="form-control"
        placeholder="City"
        formControlName="city"
        #city
        [value]="city.value | titlecase"
        [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
      />
      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
        <div *ngIf="f.city.errors.required">City is required</div>
      </div>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputEmail4">Current Address </label>
      <input
        type="text"
        class="form-control"
        placeholder="Address"
        formControlName="currentAddress"
        #currentAddress
        [value]="currentAddress.value | titlecase"
        [ngClass]="{ 'is-invalid': submitted && f.currentAddress.errors }"
      />
      <div
        *ngIf="submitted && f.currentAddress.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.currentAddress.errors.required">
          Current Address is required
        </div>
      </div>
    </div>

    <!-- <div class="form-group col-lg-6">
      <label for="inputEmail4">Email </label>
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />

      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">
          Email must be a valid email address
        </div>
      </div>
      <div *ngIf="isEmailVerified; else elseBlock" style="color: green">
        Verified
      </div>
      <ng-template #elseBlock>
        <p (click)="verifyEmail()" style="color: red">Verify</p>
      </ng-template>
    </div> -->

    <div class="form-group col-lg-6 patient-call">
      <label for="inputEmail4">Phone No </label>

      <!-- <input
        type="text"
        (intlTelInputObject)="telInputObject($event)"
        onlyNumber
        formControlName="phoneNumber"
        class="w-100 form-control"
        ng2TelInput
        (countryChange)="onCountryChange($event)"
      /> -->
      <intl-input-phone
        formControlName="phoneNumber"
        [NumberTextValue]="setphoneNumber"
        [ConfigurationOption]="configOption4"
        (OnNumberChange)="onNumberChage2($event)"
        [ngClass]="{ 'is-invalid': f.phoneNumber.errors }"
      ></intl-input-phone>
      <div *ngIf="f.phoneNumber.errors" class="invalid-feedback">
        <div *ngIf="f.phoneNumber.errors.touched">Phone Number is required</div>
      </div>
      <div *ngIf="isPhoneNoVerified; else elsePhoneBlock" style="color: green">
        Verified
      </div>
      <ng-template #elsePhoneBlock>
        <p (click)="verifiedPhone()" style="color: red">Verify</p>
      </ng-template>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">{{ buttonName }}</button>
</form>
