@media only screen and (max-width: 1899px) and (min-width: 1701px){
	.department-block .right img {
		position: absolute;
		top: -86px;
		right: 45px;
		max-width: 28%;
		position: absolute;
		top: -46px;
		left: 0;
		max-width: 25%;
		/* max-width: 35%; */
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
}

@media only screen and (max-width: 1599px) and (min-width: 1500px){
	.department-block .right img {
		position: absolute;
		top: -7px;
		left: 0;
		max-width: 25%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.department-block .right p {
		max-width: 550px;
		font-size: 18px;
		line-height: 24px;
	}
}
@media only screen and (max-width: 1700px) and (min-width: 1600px){
	.department-block .right img {
		position: absolute;
		top: -50px;
		right: 45px;
		max-width: 28%;
	}
}


@media (max-width: 1599px){
	.banner {
		height: 470px;
	}
}
@media (max-width: 1499px){
	.department-block .right img {
		position: absolute;
		top: -22px;
		right: 45px;
		max-width: 28%;
	}
	.department-block .right p {
		max-width: 550px;
		font-size: 16px;
		line-height: 26px;
	}
}


@media (max-width: 1440px){
	.department-block .right img {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 29%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1)
	}
	.sticky-sidebar-btn {
		position: fixed;
		right: -290px;
		top: 28%;
		z-index: 1000;
	}
	.banner {
		height: 380px;
	}
	.banner .owl-carousel , .banner  .owl-stage-outer , .banner  .owl-stage , .banner  .owl-carousel .owl-item , .banner  .owl-carousel .owl-item img , .banner  .item{
		height: 100%;
	}
	.galleryin.about-imc .bed-sec img {
		border-radius: 5px;
		position: relative;
		width: 100%;
	}
	.story-block h2 span{
		font-size: 28px;
	}
	.story-block h2 {
		font-size: 40px;
		line-height: 42px;
		margin: 0 auto 40px;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		padding-bottom: 10px;
		position: relative;
		z-index: 1;
	}
	.story-block .item.story-item .block-quote {
		margin-bottom: 10px;
		position: relative;
	}
	.story-block .item.story-item .details {
		position: relative;
		margin-bottom: 10px;
	}
	.story-block .item.story-item .details .name {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.story-block .item.story-item .details .date{
		font-size: 18px;
	}
	.story-block .item.story-item {
		max-width: 100%;
		margin: 0px 0px 0px;
		position: relative;
		z-index: 1;
		display: block!important;
		width: auto!important;
	}
	.update-block {
		position: relative;
		width: 100%;
		padding: 40px 0 40px;
		text-align: center;
	}
	.update-block .title h3 , .stories-sec .title h3 , .department-block .title h3 {
		font-size: 40px;
		line-height: 40px;
		max-width: 100%;
		margin: 0 auto 15px;
		color: #005a9c;
		font-weight: 600;
		text-transform: uppercase;
	}
	.update-block .title h3 span , .stories-sec .title h3 span , .department-block .title h3 span{
		font-size: 28px;
		display: block;
	}
	.update-block .title{
		max-width: 836px;
		margin: 0 auto 40px;
	}
	.need-block h4 {
		text-align: center;
		line-height: 42px;
		font-size: 37px;
		margin-bottom: 15px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.body-content .content-element .income-status h3{
		font-size: 17px;
	}
	.appointment-increase h2{
		font-size: 25px;
	}
	.appointment-increase p {
  
		font-size: 15px;
	}
	.body-content .content-element .income-status .income-titlein img.appointment-img {
		max-width: 52px;
		margin-right: 10px;
	}
	.today-appointment-inner h2 {
		font-size: 25px; 
	}
	.today-appointment-inner .today-appointment-right span {
    width: 59px;
    height: 59px;
}
.today-appointment-inner .today-appointment-right p {
    font-size: 14px;
}
.successful-right-div h4{
	font-size:20px;
}



}



@media (max-width: 768px){
	
	span.medicine-heading {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}
	.blog-img-div img {
    height: 350px;
    object-fit: cover;
}
	.income-status.aos-init.aos-animate.setting-main .row {
    padding: 0px 15px;
}
body .income-status.aos-init.aos-animate.setting-main {
    padding-bottom: 30px !important;
}
	.setting-inner-div h5 span{
		margin-top:2px;
	}
.setting-inner-div h5 {
    font-weight: 500;
    font-size: 18px;
}
.setting-inner-div {
    background-color: transparent;
    padding: 20px 10px;
}
.setting-inner-div img {
    width: 100%;
    max-width: 40px;
    margin-right: 5px;
	display:block;
	margin-bottom: 15px;
}
	
	
	div#total-earning {
    padding: 0px 15px;
}
	div#working-info {
    padding: 0px 15px;
}
div#personal-info {
    padding: 15px 15px 0px 15px;
}
	.earning-main .income-status{
		text-align:center;
	}
	.successful-left-div span{
		margin:0 auto;
	}
	.info-tabs .profile-tabs ul li {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 20px;
}
	.income-status .col-md-6 {
    padding: 0px;
}
	.col-md-2.undo-btns-div {
    padding: 0px;
    margin-bottom: 10px;
}
button.blank-undo{
	padding: 12px 45px;
    border-radius: 22px;
    font-size: 17px;
    margin: inherit;
}
	.successful-main h2.successful-main-head {
    font-size: 20px;
    padding: 22px 0px;
}
.body-content .content-element .income-status {
    padding: 0 15px;
}
.successful-right-div {
    border-radius: 14px;
    margin-bottom: 10px;
}
.successful-right-div h4 {
    font-size: 22px;
    padding: 19px 0px;
}
	.today-appointment-inner.appointments-detail .today-appointment-right p{
		text-align:left;
	}
	.header .header-right {
		display: inline-block;
		justify-content: flex-end;
		width: 100%;
		text-align: center;
	}
.header .header-right li {
    margin-right: 0px;
    display: inline-block;
    margin-left: 0px;
    float: right;
}
.income-status.aos-init.aos-animate {
    margin-top: 30px;
	padding: 0px !important;
}
body .today-appointment-sec .income-status .income-box h3{
	font-size:19px;
}
.today-appointment-sec a {
    padding: 10px 26px;
    font-size: 13px;
}
.appointment-increase h2{
	    font-size: 28px;
}
.appointment-increase p {
    font-size: 17px;
}
.body-content .content-element .income-status .income-titlein img.appointment-img {
    width: 100%;
    max-width: 56px;
    margin-right: 12px;
}
.today-appointment-inner h2 {
    font-size: 22px;
}
.today-appointment-inner h5 {
    font-size: 18px;
	margin-bottom: 8px;
}
.today-appointment-inner .today-appointment-right span{
	float:left;
}






}
@media (min-width: 576px){
	.modal-dialog {
		max-width: 991px;
		margin: 1.75rem auto;
	}
}

