*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

body {
  color: #000;
  background: #fff !important;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.header-toprowin1.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 10000000;
  box-shadow: 0px 1px 10px #000000a1;
}

.border-radius-0 {
  border-radius: 0 !important;
}

p {
  letter-spacing: 0.4px;
}

img {
  max-width: 100%;
}

.text-main {
  color: #005a9c !important;
}

.btn-primary {
  color: #fff;
  background-color: #1545c0 !important;
  border-color: #1545c0 !important;
}

.bg-main {
  background: #005a9c !important;
}

.text-green {
  color: #009b41 !important;
}

.bg1-green {
  background: #f5f5f5 !important;
}

.mb-70 {
  margin-bottom: 40px;
}

.bg-green {
  background: #009b41 !important;
}

.text-gray {
  color: #7e7e7e;
}

.text-fff {
  color: #fff !important;
}

.text-black {
  color: #000;
}

.text-red {
  color: #f82d37 !important;
}

.text-green {
  color: #0d9b2b !important;
}

.staying-video {
  margin: 15px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select {
  box-shadow: none !important;
  outline: none !important;
  border: none;
}

button {
  outline: none !important;
}

a,
a:hover {
  transition: 0.4s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #fff;
  cursor: pointer;
}

.bg-red {
  background: #ac0958 !important;
}

.bg-green-g {
  background: #b6b8b6 !important;
}

.btn-blue {
  padding: 7px 29px;
  background: #005a9c;
  transition: 0.4s ease;
  color: #e7e7e7;
  text-transform: capitalize;
  font-size: 19px;
  border-radius: 50px;
}

.btn-green {
  padding: 7px 29px;
  background: #3fa867;
  transition: 0.4s ease;
  color: #e7e7e7;
  text-transform: capitalize;
  font-size: 19px;
  border-radius: 50px;
}

.btn-trans {
  padding: 7px 29px;
  background: transparent;
  transition: 0.4s ease;
  color: #e7e7e7;
  text-transform: capitalize;
  font-size: 19px;
  border-radius: 50px;
  border: 1px solid #e7e7e7;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper .login-block {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .login-block .row {
  width: 100%;
}

/* .wrapper .login-block .login-left {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(-125deg, #101480 25%, #7620e4 80%);
} */

.wrapper .login-block .login-left {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/login-bg-f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.wrapper .login-block .login-left:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(2, 26, 117, 0.9);
  z-index: 1;
}

.wrapper .login-block .login-left h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 1px 1px #000;
  position: relative;
  z-index: 2;
}

.wrapper .login-block .login-left p {
  color: #fff;
  font-size: 24px;
  text-shadow: 2px 1px 1px #000;
  position: relative;
  z-index: 2;
}

.wrapper .login-block .login-left .socail-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.wrapper .login-block .login-left .socail-icon li a {
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c179b;
  box-shadow: 2px 3px 0px #101480;
}

.wrapper .login-block .login-left .socail-icon li a i {
  transition: 0.3s ease;
  transform: rotate(0deg);
}

.wrapper .login-block .login-left .socail-icon li a:hover i {
  transition: 0.3s ease;
  transform: rotate(360deg);
}

.wrapper .login-block .login-left .socail-icon li a:hover {
  box-shadow: 0px 5px 20px #101480;
}

.wrapper .login-block .invoice-formin {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper .login-block .invoice-form {
  background: #fff;
  max-width: 100%;
  margin: auto;
  padding: 90px 0 0 0;
  text-align: center;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  width: 70%;
}

.wrapper .login-block .invoice-form .form-group {
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
}

.wrapper .login-block .invoice-form .form-head {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -70px;
  left: 0;
}

.wrapper .login-block .invoice-form .form-group input {
  padding: 10px !important;
  height: auto;
  width: 100%;
  border-radius: 4px;
  font-size: 15px !important;
}

.wrapper .login-block .invoice-form .form-group input:focus {
  box-shadow: 0px 0px 2px blue !important;
}

.wrapper .login-block .invoice-form .form-group input::placeholder {
  font-size: 15px !important;
}

.wrapper .login-block .invoice-form .forget-link a {
  text-align: left;
  display: flex;
  align-items: center;
  color: #1235bd;
}

.wrapper .login-block .invoice-form .form-group p {
  color: #ccc;
}

.wrapper .login-block .invoice-form .social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper .login-block .invoice-form .social-links li a {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.wrapper .login-block .invoice-form .social-links li a i {
  margin-right: 5px;
}

.wrapper .login-block .invoice-form .social-links li a.fb {
  color: #fff;
  background: blue;
}

.wrapper .login-block .invoice-form .social-links li a.google {
  color: #fff;
  background: red;
}

.wrapper .login-block .invoice-form .form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
  /* left: 0!important; */
  width: auto !important;
}

.header {
  background: linear-gradient(
    90deg,
    rgba(44, 200, 202, 1) 13%,
    rgba(55, 206, 127, 1) 100%
  );
  position: fixed;
  width: 100%;
  /* min-height: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px; */
  top: 0;
  padding: 10px 0;
  z-index: 1001;
  /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.47); */
}

/* .header .header-left {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.header .header-left li {
  margin-right: 50px;
}

.header .header-left li a {
  font-size: 24px;
  color: #fff;
}

.creat-invoice i {
  margin-right: 5px;
}

#panel {
  display: none;
}

.header .row {
  align-items: center;
}

.header .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
}

.header .header-right li {
  margin-left: 50px;
}

.header .header-right li a {
  font-size: 24px;
  color: #fff;
}

section.body-wrap {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin-top: 50px;
}

.sidebar {
  position: fixed;
  height: 100vh;
  /* background-image:url("../images/sidebar-bg.jpg"); */
  transition: 0.3s ease;
  transform: translateX(0%);
  width: 335px;
  top: 78px;
  z-index: 1000;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar.panel.open {
  transform: translateX(-100%);
}

.sidebar .user-profile {
  padding: 30px 15px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  background-color: #2cc8ca;
}
.sidebar a:hover {
  background: #45c3c4 !important;
  border-top: 1px solid #fff;
}
/* .sidebar .user-profile img { */
/* width: 93px;
  margin-right: 10px;
  border-radius: 100%;
  height: 90px;
  object-fit: cover;
  border: 3px solid #fff; */
/* } */
.sidebar .user-profile img {
  /* display:none; */
  width: 122px;
  height: 85px;
  border-radius: 49px;
  object-fit: cover;
}
.signup-profile i.fas.fa-pen {
  position: absolute;
  top: 35px;
  left: 82px;
}
.signup-profile {
  width: 93px;
  margin-right: 30px;
  border-radius: 100%;
  height: 92px;
  object-fit: cover;
  border: 3px solid #fff;
}

.sidebar .user-profile .user-detail {
  text-align: left;
  position: relative;
  left: -16px;
  top: -15px;
}

.sidebar .user-profile .user-detail h4 {
  color: #fff;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar.panel ul li a img {
  padding-right: 15px;
  max-width: 40px;
}

.sidebar .user-profile .user-detail p {
  color: #fff;
  font-size: 14px;
}

.sidebar ul {
  margin-bottom: 150px;
}

.sidebar li a {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.body-content.open {
  margin-left: 0;
}

.sidebar li a.active,
.sidebar li a:hover {
  background: transparent;
  border-bottom: 1px solid #ecf8fd;
  color: #fff !important;
}

.sidebar li a.active {
  /* border-left: 5px solid #3299ab; */
  background: #42c7d6;
  border-top: 1px solid #fff;
}

.sidebar li a span {
  font-size: 18px;
}

.body-content {
  padding: 25px;
  position: relative;
  margin-left: 335px;
  transition: 0.4s ease;
}

.body-content .breadcrumb {
  background-color: #e9ecef4d;
}

.body-content .breadcrumb li a {
  color: #005a9c;
}

.body-content .content-element {
  margin-top: 40px;
}

.body-content .content-element .income-status {
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 4px 20px #00000030;
  border-radius: 14px;
  margin-bottom: 30px;
}

.body-content .content-element .income-status .income-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 10px;
}

.today-appointment-sec .income-box {
  border-bottom: 1px solid #fa9546;
  padding: 15px 30px !important;
}

.today-appointment-sec a {
  background-color: #3299ab;
  color: #fff;
  padding: 10px 33px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 29px;
}

.today-appointment-inner h5 {
  font-weight: 300;
  margin-bottom: 21px;
  letter-spacing: 2px;
  font-size: 20px;
}

.today-appointment-inner .today-appointment-right span {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.today-appointment-inner.appointments-detail .today-appointment-right p {
  font-size: 17px;
  text-align: center;
}
.col-lg-8.successful-center-div {
  padding: 25px 0 0 34px;
}
.col-lg-8.successful-center-div h2 {
  font-size: 20px !important;
}
.successful-left-div span {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  margin-top: 6px;
}

.successful-left-div span img {
  width: 100%;
}

.successful-left-div {
  padding: 15px 15px;
  margin: auto;
}

button.blank-undo:hover {
  background-color: #3299ab;
  color: #fff;
  border: 1px solid #3299ab;
  padding: 15px 45px;
  border-radius: 22px;
  font-size: 18px;
  margin: auto;
}

button.blank-undo {
  background-color: transparent;
  color: #3299ab;
  border: 1px solid #3299ab;
  padding: 15px 45px;
  border-radius: 22px;
  font-size: 18px;
  margin: auto;
}

.undo-btns-div {
  display: flex;
}

.successful-center-div {
  padding: 15px 0px;
}

.successful-center-div h5 {
  color: #383838;
  font-weight: 400;
  font-size: 16px !important;
}

.successful-right-div {
  background-color: #fba14f;
  border-radius: 0px 14px 14px 0px;
}

.successful-right-div h4 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  margin: 0px;
}

.successful-main .income-status {
  margin-bottom: 15px;
}

.successful-btn-div a {
  background-color: #3299ab;
  color: #fff;
  padding: 16px 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 18px;
}

.successful-btn-div {
  margin-top: 20px;
  text-align: center;
}

.successful-main {
  border-top: 1px solid #d5e6ed;
  margin-top: 60px;
}

.successful-center-div h2 {
  font-size: 29px !important;
  color: #383838;
  margin-bottom: 4px !important;
}

span.app-request-span {
  padding-left: 35px;
}

span.app-request-span i {
  font-size: 15px;
  padding: 0px 2px;
}

.successful-main h2.successful-main-head {
  color: #3299ab;
  font-size: 24px;
  text-transform: uppercase;
  padding: 30px 30px;
}

.today-appointment-inner .col-md-8 p {
  margin: 0px;
}

.today-appointment-inner .today-appointment-right p {
  color: #3299ab;
  font-size: 19px;
}

.today-appointment-inner i {
  color: #3299ab;
  font-size: 19px;
}

.today-appointment-inner .today-appointment-right p {
  font-size: 20px;
}

.today-appointment-inner {
  margin-top: 30px;
}

.col-md-6.today-appointment-inner i {
  color: #3299ab;
  font-size: 19px;
}

.today-appointment-inner span img {
  width: 100%;
}

.appointments-main {
  height: 400px;
  overflow: auto;
  padding: 0px 20px;
}

.today-appointment-inner.appointments-detail {
  margin: 20px 0px;
}

.today-appointment-inner {
  background-color: #f3f6fb;
  border-radius: 20px;
  padding: 20px;
}

body .today-appointment-sec .income-status .income-box h3 {
  border: 0px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 27px;
}

.body-content .content-element .income-status .income-box h3 {
  background: transparent !important;
  padding: 0px !important;
}

.body-content .content-element .income-status h3 {
  text-align: center;
  font-size: 24px;
  color: #121212;
  background: transparent;
  margin: 0;
  padding: 15px 10px;
  border-bottom: 1px solid #fa9546;
  text-transform: uppercase;
}

.body-content .content-element .income-status .income-box p {
  margin: 0;
  padding: 5px;
  color: #fff;
}

.body-content .content-element .income-status h3 span {
  margin-right: 5px;
}

.body-content .content-element .income-status .income-title {
  padding: 15px;
}

.body-content .content-element .income-status .income-titlein {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-content .content-element .income-status .income-titlein h1 {
  margin: 0;
  color: #005a9c;
  font-weight: bold;
}

.body-content
  .content-element
  .income-status
  .income-titlein
  img.appointment-img {
  width: 100%;
  max-width: 75px;
}

.appointment-increase img {
  width: 100%;
  max-width: 320px;
}

.appointment-increase h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 44px;
}

.appointment-increase p {
  color: #121212;
  font-size: 21px;
  margin-top: 11px;
}

.appointment-increase {
  width: 77%;
}

.body-content .content-element .income-status .income-title .income-btn {
  margin-top: 10px;
}

.body-content .content-element .income-status .income-title .income-btn a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #042cb2;
}

.body-content .content-element .income-status .income-title .income-btn a i {
  transition: 0.3s ease;
  margin-left: 5px;
  opacity: 0;
  transform: translate(-10px, 0px);
}

.body-content
  .content-element
  .income-status
  .income-title
  .income-btn
  a:hover
  i {
  opacity: 1;
  transform: translate(0px, 0px);
}

.notification-area a {
  color: #000;
  padding: 10px;
  display: block;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
}

.notification-area {
  padding: 30px;
  background: #f8f9fa;
  margin-top: 40px;
  border-radius: 14px;
}

.notification-area h3 {
  margin-bottom: 40px;
}

.notification-area a .invoice-num {
  font-size: 14px;
  margin-bottom: 5px;
}

.notification-area a:hover {
  box-shadow: 0px 4px 20px #00000030;
}

.notification-area a .note-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.notification-area a .note-text p {
  margin: 0;
  font-size: 20px;
  color: #005a9c;
}

.notification-area a .note-text h5 {
  font-weight: bold;
  text-align: center;
}

.notification-area a .date {
  font-size: 14px;
  margin-bottom: 5px;
}

.notification-area a .note-text h5 .status {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #005a9c;
}

.Dismiss {
  display: none;
}

.if-nodata {
  height: 200px;
  background: #fff;
  padding: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar li a .i {
  width: 30px;
  font-size: 22px;
  text-align: center;
}

.CreateInvoice-modal .modal-dialog {
  max-width: 551px;
  margin: 4rem auto;
  height: 550px;
  overflow-x: hidden;
}

.CreateInvoice-modal .modal-dialog .modal-body {
  padding: 0 !important;
}

.CreateInvoice-modal .modal-dialog .invoice-body h4 {
  padding: 10px;
  background: #005a9c;
  color: #fff;
  margin: 0;
}

.CreateInvoice-modal .modal-dialog .invoice-body .invoice-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #efebeb87;
}

.CreateInvoice-modal
  .modal-dialog
  .invoice-body
  .invoice-list
  li
  .invoice-textbar {
  padding: 10px;
  font-size: 14px;
}

.invoice-Management .income-status.invoice-Management-box {
  display: flex;
  text-align: center;
  height: 220px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px !important;
}

.invoice-Management .income-status.invoice-Management-box img {
  width: 60px;
}

.invoice-Management .income-status.invoice-Management-box h4 {
  margin-top: 20px;
  margin-bottom: 0;
  color: #005a9c;
  line-height: 26px;
}

/* .creat-invoice-block .CreateInvoice-modal .modal-dialog {
    max-width: 100%;
    margin: 4rem auto;
    height: auto;
    overflow-x: auto;
}
.creat-invoice-block .CreateInvoice-modal .modal-dialog .invoice-body .invoice-list li span {
    flex: 0 0 30%;
}
.creat-invoice-block .CreateInvoice-modal .modal-dialog .invoice-body .invoice-list li .invoice-textbar{
	width: 100%;
} */

.create-invoice-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.create-invoice-header h4 {
  color: #005a9c;
  font-size: 30px;
  margin: 0px;
}

.create-invoice-header .invoice-btn-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 60%;
}

.create-invoice-header .invoice-btn-block li {
  margin-left: 30px;
  text-align: right;
}

.create-invoice-header .form-group {
  width: 200px;
  flex: 0 0 100%;
  margin: 0;
}

.customer-in {
  display: flex;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 1px 10px #00000014;
  margin-bottom: 30px;
}

.customer-in img {
  width: 15%;
  margin-right: 20px;
}

.accordion > .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.add-item-form .btn-link {
  font-weight: 400;
  color: #ffffff !important;
  text-decoration: none !important;
}

.add-item-form .card-header {
  padding: 5px !important;
  background-color: rgb(0, 90, 156);
  border-bottom: 1px solid rgb(0, 90, 156);
}

.add-item-form .btn-primary {
  color: #fff;
  background-color: #005a9c !important;
  border-color: #005a9c !important;
}

.add-item-form .card-header i {
  margin-right: 5px;
}

.accordion-form {
  /* background: #005a9c; */
  padding: 15px;
  border: 5px dotted #005a9c;
}

.btn-accordion {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-accordion button {
  margin-left: 15px;
}

.customer-data-save {
  display: flex;
  align-items: center;
  margin: 0 -15px 0 -15px;
}

.customer-data-save .left,
.customer-data-save .right {
  flex: 0 0 50%;
  padding: 0 15px;
}

.customer-data-save .left ul {
  display: flex;
  align-items: center;
}

.customer-data-save .left ul .multiply {
  padding: 10px 10px 0;
  color: red;
}

.customer-data-save .right ul {
  text-align: right;
}

.customer-data-save .right ul li p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.user-profile-block {
  padding: 30px;
  background-color: #f8f9fa;
}

.user-profile-block .edit-imgin {
  display: flex;
  margin-bottom: 30px;
}

.user-profile-block .edit-imgin .edit-img {
  margin-right: 20px;
}

.user-profile-block .edit-imgin .edit-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.user-profile-block .user-detail-edit h4 {
  padding: 10px;
  background: #005a9c;
  margin-bottom: 20px;
  color: #ffffff;
  border-radius: 0px;
}

#address-popup .modal-header {
  padding: 10px;
  background: #005a9c;
  margin-bottom: 0px;
  color: #ffffff;
  border-radius: 0px;
}

#address-popup .modal-header .close {
  color: #ffffff;
  opacity: 1;
}

#address-popup .modal-dialog {
  max-width: 570px;
  margin: 1.75rem auto;
}

#address-popup .modal-dialog .modal-content {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.change-pic-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #005a9c;
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

ul.nav.nav-tabs.tabs-heading {
  display: inline-flex;
  border-top: 1px solid #3299ab;
  background-color: #fff;
  border-bottom: 1px solid #3299ab;
  border-right: 1px solid #3299ab;
  border-radius: 0px 35px 35px 0px;
  border-left: 1px solid #3299ab;
  margin-bottom: 30px;
}

ul.nav.nav-tabs.tabs-heading li.nav-item {
  margin-bottom: 0;
}

ul.nav.nav-tabs.tabs-heading li a {
  padding: 20px 17px;
  font-size: 18px;
  border-color: transparent;
  color: #2ac7d6;
}

.psychologist-left-sec span {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #2ac7d6;
  background: #47c9ca;
}
.row.doctor-profile {
  background: #ecf4f5;
  margin: 0px;
  border-radius: 8px;
  padding: 20px 0;
}

.psychologist-left-sec input {
  margin-top: 10px;
  width: 100%;
}

.intl-tel-input.allow-dropdown {
  display: block;
}

.psychologist-left-sec span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.psychologist-left-sec button {
  display: block;
  border: 1px solid #2ac7d6;
  color: #2ac7d6;
  background-color: transparent;
  padding: 12px 20px;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
}

.psychologist-right-sec h2 {
  color: #3b3b40;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 34px;
}

.psychologist-right-sec p {
  font-size: 28px;
  color: #3b3b40;
  font-weight: 300;
  margin: 0px;
}

.psychologist-right-sec h2 span {
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  float: right;
  letter-spacing: 1px;
}

.income-status.aos-init.aos-animate.psychologist-section {
  padding: 30px;
}

.psychologist-left-sec {
  padding-left: 0px;
}

.psychologist-right-sec textarea {
  width: 100%;
  text-align: left;
  border: 1px solid #3299ab;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3b3b40;
  padding: 20px;
}

.psychologist-right-sec textarea:focus {
  outline: none;
  box-shadow: none;
}

.psychologist-right-sec h2 span ul li {
  display: inline-block;
  color: #ffc62d;
}

.psychologist-right-sec h2 span ul {
  display: inline-block;
  padding-left: 5px;
}

.icon-div ul li i {
  background-color: #2ac7d6;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 22px;
  line-height: 40px;
}

.icon-div ul li {
  display: inline-block;
  margin-left: 10px;
}

.icon-div ul {
  text-align: right;
  margin-bottom: 10px;
}

.info-tabs {
  margin-top: 40px;
}

.info-tabs .profile-tabs ul li {
  width: 33.33%;
  padding-left: 25px;
  margin: 0 auto;
}

.info-tabs ul li a {
  background-color: #fff;
  color: #333;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 18px 0px;
  border-radius: 12px !important;
  border: 1px solid #fff;
}
.info-tabs ul li a.active {
  color: #fff !important;
  background-color: #2ac7d6 !important;
  border: 1px solid #2ac7d6 !important;
  border-radius: 22px;
}
.info-tabs ul {
  margin-bottom: 30px;
  border: none;
}
.info-tabs .form-group input,
.info-tabs .form-group select {
  border: 2px solid #2ac7d6;
  padding: 13px 14px;
  height: auto !important;
  border-radius: 31px;
}

button.add-btn {
  background-color: #2ac7d6;
  border: 1px solid #2ac7d6;
  color: #fff;
  padding: 0px 45px;
  margin: 0 auto;
  margin-top: 48px;
  font-size: 16px;
  border-radius: 15px;
  height: 45px;
}

a.more-data {
  color: #2ac7d6;
  float: right;
  font-size: 18px;
}

.sign-left-sec h2 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: auto !important;
  font-size: 35px !important;
  text-transform: uppercase;
  padding-top: 30px;
}

.info-tabs .form-group label {
  color: #3299ab;
}

.info-tabs .profile-tabs ul li:first-child {
  padding-left: 0px;
}

body .info-tabs button.btn.btn-primary {
  background-color: #2ac7d6 !important;
  border: 1px solid #2ac7d6 !important;
  padding: 0px 45px;
  border-radius: 12px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
  display: block;
  height: 45px;
}

body .info-tabs button.btn.btn-primary:focus {
  box-shadow: none;
  outline: none;
}

.form-border hr {
  border: 1px solid #6bd1e2;
  margin: 25px 0px 33px 0px;
}

.blog-top-left h3 {
  color: #3299ab;
  font-weight: 400;
  border: 1px solid #3299ab;
  display: inline-block;
  padding: 10px 31px;
  border-radius: 0px 43px 43px 0px;
}

.blog-top-right input {
  border: 1px solid #2ac7d6;
  height: auto;
  padding: 13px 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 23px;
}

.blog-top-right img {
  border: 1px solid #3299ab;
  padding: 7px;
  border-radius: 39px;
  margin-left: 16px;
}

.blog-top-right {
  text-align: right;
}

.blog-inner-info {
  margin-top: 25px;
}

.blog-img-div img {
  width: 100%;
  /* border-radius: 20px; */
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.blog-img-div {
  position: relative;
}

.blog-edit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 20px 0px 0px;
  padding: 20px 25px;
}

.blog-edit i {
  color: #3299ab;
  font-size: 26px;
}

.blog-inner-info h6 {
  color: #717171;
  font-weight: 300;
  margin-top: 15px;
}

.blog-inner-info h6 span {
  float: right;
  font-weight: 500;
  color: #000000;
}

.blog-inner-info h3 {
  color: #3299ab;
  font-size: 26px;
  margin: 15px 0px;
}

.blog-inner-info p {
  margin: 0px;
  color: #121212;
  line-height: 23px;
}

.create-blog-btn a {
  background-color: #2ac7d6;
  color: #fff;
  padding: 15px 50px;
  display: inline-block;
  font-size: 19px;
  border-radius: 33px;
}

.create-blog-btn {
  text-align: center;
  margin: 80px 0px;
}

.setting-inner-div {
  background-color: #f3f6fb;
}

.setting-main {
  padding: 30px !important;
}
.setting-main h4 {
  font-size: 25px !important;
  color: #000 !important;
  font-weight: 400 !important;
  padding: 10px 25px !important;
}
.setting-inner-div {
  background-color: transparent;
  padding: 20px 30px;
  border-radius: 20px;
  margin-top: 10px;
  border: 2px solid #2ac7d6;
  height: 111px;
}

.setting-inner-div h5 {
  color: #2ac7d6;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 0px !important;
  font-size: 16px !important;
}

.setting-inner-div img {
  width: 100%;
  max-width: 65px;
  margin-right: 30px;
  max-height: 68px;
}

.setting-inner-div h5 span {
  float: right;
  vertical-align: middle;
  margin-top: 26px;
}

.setting-page .setting-inner-div h5 span {
  margin-top: 0px;
}

.setting-page .setting-inner-div h5 {
  color: #010101;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: capitalize;
}

.setting-inner-div i {
  color: #39bfd1;
  font-size: 22px;
}

.setting-page .setting-inner-div i {
  color: #010101;
  font-size: 19px;
}

.setting-page .setting-inner-div {
  background-color: #f3f3f3;
  border: none;
  display: grid;
  align-items: center;
  cursor: pointer;
}

.successful-right-div.earning-right-div h4 {
  color: #fba14f;
}

.successful-right-div.earning-right-div {
  background-color: transparent;
}

.earning-btn-div a {
  color: #fba14f;
  font-size: 20px;
}

.earning-btn-div {
  text-align: center;
}

.earning-main {
  margin-bottom: 20px;
}

.monthly-detail-sec h4 {
  color: #3299ab;
}

.monthly-detail-sec h4 span {
  padding: 0px 40px;
}

.monthly-detail-bg {
  background-color: #f3f6fb;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 25px;
}

.monthly-detail-bg h4 {
  color: #333;
  text-align: center;
}

.monthly-info span {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  text-align: center;
}

.monthly-info span h5 {
  margin: 0px;
  color: #fa9546;
  font-weight: bold;
  font-size: 25px;
}

.monthly-info span p {
  margin: 0px 0px 5px 0px;
  font-size: 19px;
}

.monthly-info span:first-child {
  border-right: 1px solid;
}

.monthly-info {
  margin-top: 20px;
}

.total-earning-right label {
  font-size: 29px;
  color: #383838;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 20px;
}

.total-earning-right {
  margin: auto;
}

.total-earning-right input {
  position: static;
  margin: 0px;
}

.total-earning-left h2 {
  text-align: center;
  font-size: 42px;
}

body .total-earning-left h3 {
  color: #fa9546 !important;
  font-size: 41px !important;
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
}

.total-earning-left div#carouselExampleControls {
  width: 340px;
  border: 12px solid #2ac7d6;
  height: 340px;
  border-radius: 100%;
  margin: 0 auto;
}

span.earning-border-span {
  width: 280px;
  height: 280px;
  border: 12px solid #d6ebee;
  display: block;
  border-radius: 100%;
  margin: 19px auto;
}

span.earning-border-span .carousel-inner {
  padding: 75px 0px;
}

section.signup-main {
  padding-top: 100px;
  margin-top: 190px;
  /* padding-right: 30px; */
}

section.signup-main input {
  border: 1px solid #37ce7f;
  padding: 30px 19px;
  border-radius: 32px;
  background: #e9ecef;
}

.signup-checkbox label a {
  color: #424242;
  font-size: 18px;
  text-decoration: none;
}

.signup-checkbox .form-check {
  margin-top: 10px;
}

.signup-checkbox {
  border-bottom: 1px solid #3299ab;
  padding-bottom: 20px;
}

.form-row.signup-agree-div {
  background-color: #f5f5f5;
  padding: 30px 25px;
  border-radius: 8px;
  margin-top: 20px;
}

.form-row.signup-agree-div a,
.form-row.signup-agree-div a:hover,
.resend-otp a {
  color: #ed1c24;
}

.form-row.signup-agree-div label {
  font-size: 18px;
}

.sign-btn .sign-back {
  border: 1px solid #3299ab;
  padding: 11px 40px;
  display: inline-block;
  color: #3299ab;
  border-radius: 33px;
  font-size: 16px;
  text-transform: uppercase;
}

.sign-btn .sign-account {
  background-color: #37ce7f;
  color: #fff;
  border: none;
  padding: 13px 50px;
  display: inline-block;
  border-radius: 33px;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 10px;
  height: 45px;
}

.sign-btn {
  text-align: center;
  margin-top: 25px;
}

.sign-btn button {
  padding: 13px 45px;
  border-radius: 12px;
  background: #47c9ca;
  color: #fff;
  border: none;
}
.sign-left-sec {
  width: 100%;
  height: 100%;
  display: flex;
}

.create-new-pass h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #46c8ca;
}

.create-new-pass p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 60px;
}

.email-verification .form-group input {
  width: 60px;
  border: none !important;
  border-bottom: 1px solid !important;
  border-radius: 0px !important;
  display: inline-block;
  text-align: center;
  margin: 0px 12px;
}

.form-row.email-verification {
  text-align: center;
}

.form-row.email-verification {
  border-bottom: 1px solid #58cd8b;
  padding-bottom: 27px;
  margin-bottom: 18px;
}

.verification-text {
  text-align: center;
  font-size: 17px;
  line-height: 23px;
}
.resend-otp p {
  text-align: center;
  font-size: 17px;
}
.resend-otp button {
  border: none;
  color: #58cd8b;
  font-size: 20px;
  margin-left: 7px;
  font-weight: 500;
  background: transparent;
}
.otp-btn .sign-back {
  padding: 11px 45px;
  display: inline-block;
  border-radius: 33px;
  font-size: 16px;
  text-transform: uppercase;
  height: 45px;
  background: #58cd8b;
  color: #fff !important;
  border: none;
}
.otp-btn .disabledClass {
  margin-left: 15px;
  padding: 0 32px;
  border-radius: 22px;
  height: 45px;
  font-size: 16px;
}

.patient-signup .signup-checkbox {
  border-bottom: none;
  position: relative;
  bottom: 24px;
}

.social-icons ul li {
  display: inline-flex;
  width: 210px;
  margin: 0px 10px;
  text-align: center;
  padding: 5px 25px;
  border-radius: 40px;
  border: 1px solid #37ce7f;
}

.social-icons ul {
  text-align: center;
  margin-top: 40px;
}

li.facebook-icon h5 {
  color: #3b5998;
  margin: 7px 0px 0px 10px;
  letter-spacing: 1px;
  font-size: 23px;
}

li.google-icon h5 {
  color: #eb4132;
  margin: 7px 0px 0px 10px;
  letter-spacing: 1px;
  font-size: 23px;
}

.form-row.signup-checkbox.patient-checkbox {
  margin: 40px 0;
}

.signup-main {
  box-shadow: 1px 2px 9px #3299ab;
}

.sign-container {
  padding-bottom: 15px;
}

.signup-main {
  box-shadow: 1px 2px 11px rgba(50, 153, 171, 0.4);
  border-radius: 20px;
  padding: 0px;
}

.create-new-pass {
  padding: 100px 100px 100px 100px;
}
.create-new-pass input.form-control {
  border: 1px solid #47c8c9;
  border-radius: 28px;
  padding: 25px 16px;
  background: transparent;
  margin-bottom: 20px;
}
.create-new-pass .sign-btn {
  margin: 0px;
}
.create-new-pass input.form-control.ng-dirty.ng-valid.ng-touched {
  padding: 25px 23px;
  border-radius: 25px;
  background: #fff !important;
}
.invalid-feedback.ng-star-inserted {
  position: absolute;
  top: 43px;
}

.home-top {
  background-color: #2cc8ca !important;
  padding: 30px !important;
}

.home-top h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.home-top p {
  color: #fff;
  font-size: 18px;
  margin: 9px 0px;
}

.home-top button {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 12px 26px;
  text-transform: uppercase;
  border-radius: 12px;
  font-weight: 500;
  margin-top: 20px;
  height: 45px;
  color: #47c9ca;
  font-size: 15px;
}

.home-top {
  background-image: url(./patient-home-bg.png);
}

.find-specialities-img span {
  display: block;
  width: 128px !important;
  height: 121px !important;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 18px;
}

.find-specialities-inner h5 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 24px;
  margin-top: 20px;
}

.find-specialities-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 90px 5px;
  /* background: #42c7d6 !important;
  height: 315px; */
}

.find-specialities-inner {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.find-specialist .find-specialities-inner {
  min-height: 23px;
}
.find-specialities-inner h5 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 19px !important;
  margin-top: 20px;
  margin: 0px;
  padding: 50px 0px 0 0;
  font-weight: 600 !important;
}
.doctorprofile span {
  width: 105px !important;
  height: 104px !important;
}

.patient-view-btn a {
  float: right;
  margin-top: 30px;
  color: #2ac7d5 !important;
  font-size: 20px;
  font-weight: 500;
}

.find-specialities h1,
.home-top-doctor h1 {
  color: #2bc8d0;
  font-size: 23px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px !important;
  margin-top: 50px !important;
  font-weight: 500 !important;
}
.find-specialities .row.mt-4 {
  margin-top: 0 !important;
}

.home-top-doctor ul li i {
  color: #ffc62d;
}

.home-top-doctor ul li {
  list-style: none;
  display: inline-block;
}
.home-top-doctor .ng-star-inserted {
  margin-bottom: 30px;
}
.doctor-inner {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0px;
  border-radius: 30px;
  overflow: hidden;
  height: 100%;
}
.doctor-inner h2 {
  margin-bottom: 4px !important;
  padding-left: 6px;
}
.doctor-inner p {
  padding-left: 6px;
}
.doctor-inner ul {
  padding-left: 4px;
}
.doctor-inner button {
  background-color: #2ac7d6;
  border: 1px solid #2ac7d6;
  color: #fff;
  padding: 9px 25px;
  font-size: 16px;
  border-radius: 12px;
  margin: 7px 0px 15px 8px;
  text-transform: uppercase;
  height: 45px;
}

.doctor-inner img {
  width: 100%;
  margin: 0px;
  height: 350px;
  object-fit: cover;
}

.about-us p {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 0px;
  margin-top: 30px;
}

span.med-description {
  font-size: 19px;
  display: inline;
}

.prescription-med p span.medicine-heading {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
}

span.medicine-heading {
  width: 19%;
  display: inline-block;
}

.prescription-med {
  width: 100%;
  float: left;
}

.prescription-med p {
  margin-bottom: 21px;
}

.prescription-med p:last-child {
  margin-bottom: 0px;
}

.prescription-med {
  box-shadow: 0px 4px 20px #00000030;
  border-radius: 14px;
  padding: 30px;
  position: relative;
}
.prescription-med button {
  padding: 11px 45px;
  border-radius: 12px;
  background: #47c9ca;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-right: 16px;
}
.prescription-med input {
  border: 0px;
  border-bottom: 1px solid;
  border-radius: 0px;
  font-size: 18px;
  border-color: #e2e2e2;
}

.prescription-med input#file {
  background: transparent;
  color: transparent;
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.Attach-file p {
  color: #6c757d;
  border-bottom: 1px solid gainsboro;
  top: -39px;
  padding-left: 20px;
  line-height: 41px;
  font-size: 18px;
}
.prescription-med input.form-control.ng-untouched.ng-pristine.ng-invalid {
  background: transparent;
}
.successful-right-div.earning-right-div h4 {
  color: #2ac7d6;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 0px;
  text-align: right;
  margin-bottom: 8px;
}

.col-lg-2.successful-right-div.earning-right-div {
  text-align: right;
}

.col-lg-3.successful-right-div.earning-right-div p {
  color: #2ac7d6;
  font-size: 17px;
  font-weight: 300;
  text-align: right;
}

.payment-status h2 {
  margin-bottom: 0px !important;
}

.payment-status h2 {
  color: #c8c8c8;
  text-transform: uppercase;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.payment-status h2 span {
  font-weight: 400;
}

.col-lg-12.payment-status span {
  color: #48cdda;
  text-transform: capitalize;
}

.col-lg-12.payment-status {
  padding: 0px 30px 12px 30px;
}

/* form.ng-pristine.ng-invalid.ng-touched {
  padding: 0 100px !important;
} */

.or-text h4 {
  font-size: 23px !important;
  font-weight: 500 !important;
  color: #2cc8ca !important;
}

label.form-check-label {
  color: #2cc8ca;
  font-size: 20px;
}

.form-row.signup-checkbox.patient-checkbox label a {
  color: #2cc8ca;
}

section.signup-main form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.signup-main input.form-control.ng-touched.ng-dirty.ng-valid {
  background: #fff;
}
select.form-control.ng-dirty.ng-valid.ng-touched {
  background: #fff;
}
.social-icons img {
  width: 100%;
  max-width: 30px;
}

.doctor-inner .doctor-inner-detail h2 {
  margin: 0px;
}

.doctor-inner .doctor-inner-detail p {
  margin: 3px 0px;
}

.doctor-inner-detail {
  padding: 5px 15px 0px 15px;
}

.doctor-inner .doctor-inner-detail ul {
  margin: 0px;
}
.doctor-inner .doctor-inner-detail span {
  font-size: 22px;
}

.profile-complition {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 15px 8px;
  margin: 30px 0px;
}

.profile-complition-left {
  text-align: center;
}

.profile-complition-right {
  margin: auto;
}

.profile-complition .profile-complition-right h4 {
  font-size: 22px;
  margin: 0px 0px 7px 0px;
}

.profile-complition-right p {
  color: #847e7e;
}

.profile-complition-right button {
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
  border: none;
  background-color: transparent;
  padding: 0px 45px;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 11px;
  color: #2bc8d0;
  height: 45px;
}

input.form-control.book-now-search {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#home .psychologist-right-sec h2 {
  margin-bottom: 3px !important;
}

#home .psychologist-right-sec p {
  font-size: 19px;
  margin-bottom: 7px;
}

.psychologist-right-sec span {
  font-size: 16px;
  color: #333;
  display: block;
  float: right;
}

.book-now-doc-list {
  width: 100%;
  margin-top: 22px;
}

.book-now-doc-list h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 4px !important;
}

.book-now-doc-list-inner {
  background-color: #ecf4f5;
  border-radius: 6px;
  height: 100%;
  padding: 10px 10px;
}

body .book-now-doc-list-inner h3 {
  color: #2cc8ca !important;
  text-align: left !important;
  font-size: 19px !important;
  font-weight: 400;
  letter-spacing: 0px;
  border-bottom: 1px solid #fff !important;
}

.book-now-doc-list-inner p {
  padding: 0px 10px;
  margin-top: 15px !important;
  font-weight: 400;
}

p.appoint-fee-text {
  font-weight: 800;
  font-size: 21px;
}

div#booking-appointment .psychologist-right-sec p {
  font-size: 19px;
}

div#booking-appointment .psychologist-right-sec h2 {
  margin-bottom: 3px;
}

div#booking-appointment {
  background-color: #ecf4f5;
  padding: 20px;
  border-radius: 20px;
}

div#booking-appointment .ng-star-inserted {
  margin-top: 0px;
}

.blog-inner-info {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
}

.blog-description h3 {
  color: #000;
  line-height: 21px !important;
  margin-top: 10px !important;
}

.blog-description {
  padding: 0px 10px;
}

.blog-description h6 {
  font-size: 14px !important;
  margin: 0px;
}

.blog-edit {
  display: none;
}

.blog-inner-info a:hover {
  text-decoration: none;
}

.blog-inner-info.blog-inner-detail-info h3 {
  font-size: 22px;
  color: #000000;
  font-weight: 500;
}

.blog-info-profile img {
  width: 135px;
  height: 135px;
  border-radius: 100px;
}

.info-profile-text {
  width: 100%;
  margin: auto;
  padding-left: 25px;
}

body .info-profile-text h5 {
  color: #656565;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}

.blog-inner-info.blog-inner-detail-info {
  height: auto;
}

.blog-inner-info.blog-inner-detail-info p {
  padding: 15px;
  margin: 0px;
}

.blog-info-profile {
  display: flex;
  padding: 0px 15px;
}

.blog-inner-info.blog-inner-detail-info h3 {
  margin-top: 15px;
  padding: 0px 15px;
}

body .info-profile-text p {
  font-size: 14px;
  margin-top: 3px !important;
  color: #000;
  padding: 0px !important;
}

.booking-appointment-time {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
}

.booking-appointment-time ul li {
  font-size: 17px;

  display: inline-block;
  margin: 10px 10px;
}

#booking-appointment .booking-appointment-time h4 {
  text-align: center;
  font-size: 20px;
  color: #000;
  margin-bottom: 30px;
}

.booking-appointment-time ul {
  margin-bottom: 0px;
  text-align: center;
}

.booking-appointment-time span.time-appoint-icon {
  font-size: 25px;
}

.appointment-request-main {
  margin-top: 60px;
}

.review-img-div img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}
.booking-appointment-time ul li button {
  border: 2px solid #2cc8ca;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
}
.booking-appointment-time ul li button.reservedDates {
  background-color: #2cc8cb;
  color: #fff;
  cursor: default;
}
.calender-boxes {
  display: inline-block;
  width: 15%;
  background-color: #2ac7d6;
  padding: 11px 0px;
  font-size: 16px;
  margin: 12px 12px;
  text-align: center;
  border-radius: 12px;
}

.payment-status button#dropdownMenu2 {
  float: right;
  background-color: transparent;
  border: none;
  color: #333;
}
.payment-status button#dropdownMenu2:focus {
  outline: none;
  box-shadow: none;
}
.payment-status h2 {
  float: left;
}
.payment-status .dropdown-menu.show button {
  padding: 10px 12px;
}
.past-med-list a#dropdownMenuLink,
.family-history-list a#dropdownMenuLinks {
  background-color: transparent;
  color: #000;
  border: none;
}
.past-med-list a#dropdownMenuLink:focus {
  box-shadow: none;
}
.past-med-list .dropdown,
.family-history-list .dropdown {
  position: absolute;
  top: 38px;
  right: 45px;
}
.past-med-list .content-element h1 {
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: 400 !important;
  font-size: 25px;
}
.past-med-history .prescription-med input,
.past-med-history .prescription-med textarea {
  border: 2px solid #2cc8ca;
  border-radius: 30px;
  font-size: 16px;
  padding: 13px 14px !important;
  background-color: #e9ecef;
  height: auto;
}
.past-med-history .prescription-med textarea {
  border-radius: 15px;
}
.past-med-history form button {
  padding: 9px 40px;
  background-color: #2cc8ca;
  color: #fff;
  border: 1px solid #2cc8ca;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
}

.family-history-list h4 span {
  font-weight: 500;
}
.family-history-list h4 span {
  font-weight: 500;
  width: 12%;
  display: inline-block;
}
tab#tab1 {
  text-align: center;
}
.height-info {
  height: 650px;
  overflow: auto;
}
.inches-box {
  text-align: center;
}
.height-info ul.nav.nav-tabs li {
  text-align: center;
  float: none;
  margin: 20px auto;
  font-size: 20px;
}
.height-info ul.nav.nav-tabs {
  border: none;
}
.height-info ul.nav.nav-tabs li a {
  border: none;
  position: relative;
  color: #000;
}
.height-info ul.nav.nav-tabs li.active a:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #2ac7d6;
  border-radius: 30px;
  left: -18px;
  top: 5px;
}
.height-info ul.nav.nav-tabs li a:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #2ac7d6;
  border-radius: 30px;
  left: -18px;
  top: 5px;
}
.height-info h3 {
  text-align: center;
  color: rgba(55, 206, 127, 1);
  font-size: 24px !important;
  text-transform: uppercase;
  margin-top: 35px !important;
  font-weight: 500;
  margin-bottom: 0px;
}
input.CountryNumberInput.form-control {
  width: 100%;
  background: #e9ecef;
}
/* .input-main-div.OptionType3 input {
  background: transparent;
} */
input.form-control.ng-valid.ng-touched.ng-dirty {
  background-color: transparent;
}
/* .CountryNumberInput.form-control {
  background: transparent !important;
} */
.patient-call span.select2-selection.select2-selection--single {
  border: none;
  margin-top: 14px;
  margin-left: 12px;
  background: transparent;
}
.patient-call
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}
.patient-call span.select2-selection.select2-selection--single:focus {
  outline: none;
}

.col-lg-9.successful-center-div {
  padding-left: 26px;
}
.payment-button {
  float: right;
}
.payment-button button {
  padding: 13px 50px;
  background: #42c7d6;
  color: #fff;
  border: none;
  border-radius: 26px;
}

.menu-nav {
  background-color: #44b;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  color: #fcc;
  padding: 3px;
}

.three-dots:after {
  cursor: pointer;
  color: #000;
  content: "\2807";
  font-size: 20px;
  padding: 0 5px;
}
.three-dots {
  position: relative;
  left: 121px;
}
a {
  text-decoration: none !important;
  color: white;
  list-style-type: none;
  color: #000 !important;
  padding: 10 px 10px !important;
  box-sizing: 2px 2px 4px gray;
}

a div {
  padding: 5px;
}

ul.pagination {
  float: right;
  color: black;
  margin-top: 25px;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #42c7d6 !important;
  border-color: #42c7d6 !important;
}
a.page-link:hover {
  background: #47c9ca;
  color: #fff !important;
}

.dropdown.show.dotted-icn .dropdown-menu.show {
  width: 190px;
  display: inline-block;
  left: -57px !important;
  box-shadow: 0px 1px 4px 1px grey;
}
.dropdown.show.dotted-icn a#dropdownMenuLink {
  background: transparent;
  border: none;
}
.prescription-med .dropdown.show.dotted-icn {
  opacity: 1;
  z-index: 9;
  display: inline;
  float: right;
  border: none;
}
.prescription-med .dropdown.show #dropdownMenuLink {
  bottom: 105px;
  position: absolute;
}
.content-element.allergy-heading h1 {
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: 0;
  color: #48c9c6;
  font-weight: 400;
}
.attachment-button {
  text-align: right;
}
a.more-data {
  background: #47c9ca;
  padding: 14px 45px;
  color: #fff !important;
  border-radius: 37px;
  font-size: 16px;
  height: 45px;
}

a#dropdownMenuLink {
  border: none;
  background: transparent;
  display: block;
  float: right;
}

.col-md-12 .ng-star-inserted .prescription-med a#dropdownMenuLink {
  position: absolute;
  top: -25px;
}
.col-md-12 .ng-star-inserted .prescription-med .dropdown-menu.show {
  display: inline-block;
  margin-top: 19px;
  left: -28px !important;
  text-align: center;
}

.col-md-12.p-0.family-history-list .dropdown-menu.show {
  margin-top: 0px;
}
.col-md-12.p-0.family-history-list a#dropdownMenuLinks {
  position: absolute;
  top: -31px;
}

.prescription-med .Attachment-reports #dropdownMenuLink {
  position: absolute;
  right: -25px;
  top: -138px !important;
}
.prescription-med .Attachment-reports .dropdown-menu.show {
  margin-top: 2px !important;
}

.prescription-med .allergy-history #dropdownMenuLink {
  position: absolute;
  right: -25px;
  top: -102px !important;
}
.aos-init.psychologist-section.aos-animate {
  margin: 12px;
}
.content-element .about-us h2 {
  color: #42c7d6;
  font-size: 29px !important;
  margin: 53px 0 6px 0px !important;
}

.about-us p {
  font-size: 17px !important;
}

.psychologist-left-sec input {
  width: 77%;
  border: none;
  background: transparent;
  color: transparent;
  cursor: pointer;
  opacity: 0;
  padding: 43px 0px;
  position: relative;
  bottom: 101px;
  line-height: 0px;
  right: 15px;
  border-radius: 58px;
}
i.fas.fa-pen {
  width: 31px;
  background: #ffff;
  color: #16afb1;
  padding: 10px 10px;
  border-radius: 27px;
  height: 31px;
  align-items: center;
  position: relative;
  left: 29px;
  bottom: -51px;
}
.consult-pending {
  margin-bottom: 45px !important;
}
.col-md-12.info-tabs {
  margin-bottom: 40px !important;
}

.col-lg-12.bookin-request {
  text-align: right;
  display: inline-block;
}
.col-lg-12.bookin-request button {
  margin-top: 27px;
  padding: 13px 45px;
  border: none;
  background: #47c9ca;
  color: #fff;
  border-radius: 12px;
  font-size: 16px;
}
.col-xs-12.col-sm-5.col-lg-10.psychologist-right-sec i {
  background: #000;
  color: #fff;
  border-radius: 18px;
  font-size: 13px;
  padding: 3px 3px;
  margin-right: 3px;
}

.col-xs-12.col-sm-5.col-lg-10.psychologist-right-sec.doctor-adress h2 {
  color: #47c9ca;
}

.psychologist-right-sec.time-right {
  display: flex;
}
.psychologist-right-sec.time-right h2 {
  padding-right: 25px;
  color: #000 !important;
}
.booking-timerdiv {
  background: #ecf4f5;
  margin-top: 2px;
  border-radius: 7px;
}
.psychologist-right-sec.time-left {
  border-right: 3px solid #fff;
  padding: 12px 6px;
  display: flex;
}
.psychologist-right-sec.time-left p {
  margin-right: 12px !important;
  margin-top: 6px;
  font-weight: 600;
  padding-left: 10px;
}

.psychologist-right-sec.time-right {
  float: right;
  padding: 12px 6px;
  display: flex;
}
.psychologist-right-sec.time-right p {
  margin-right: 12px !important;
  margin-top: 6px;
  font-weight: 600;
  padding-left: 10px;
}

.info-tabs a.nav-link:hover {
  background: #42c7d6;
  color: #fff !important;
  transition-timing-function: ease-in;
}
.setting-page.income-status.aos-init.aos-animate.setting-main h4 {
  font-size: 29px;
  color: #42c7d6;
}
.col-md-12.p-0.family-history-list h1 {
  margin-bottom: 0px !important;
  font-size: 25px;
  font-weight: 400;
  margin-top: 60px !important;
  color: #47c9ca;
}

li.user-profile.header input[type="file"] {
  background: transparent;
  color: transparent;
  position: absolute;
  width: 28%;
  /* border: 1px solid gainsboro; */
  padding: 39px 0px;
  left: 22px;
  bottom: 37px;
  border-radius: 70px;
  opacity: 0;
  cursor: pointer;
  line-height: 1px;
}
.blog-inner-main .ng-star-inserted {
  margin-bottom: 22px !important;
}

section.signup-main
  button.mat-ripple.mat-icon-button.cdk-focused.cdk-mouse-focused {
  position: absolute;
  right: 19px;
  border: none;
  font-size: 29px;
  color: #7e7a7a;
  top: -26px;
}

section.signup-main .mat-form-field-underline {
  overflow: hidden;
  height: 0px;
  outline: none;
}
.slect-option select.form-control {
  padding: 17px 3px;
  border: 1px solid #5ace7f;
  border-radius: 45px;
  height: 62px !important;
  background: #e9ecef;
}
.form-group.col-lg-6.slect-option {
  padding-left: 0;
}
.form-group .col-lg-6 .patient-call .CountryNumber Input {
  width: 100%;
  background: #fcfdff !important;
}
.patient-call p {
  position: absolute;
  bottom: 6px;
  right: 18px;
  text-align: right;
}
.form-group.col-lg-12.patient-call {
  padding: 0;
}

.find-specialities-inner .doctorprofile {
  margin-top: 16px;
  margin-left: 40px;
}
.find-specialities-inner {
  height: 180px;
  padding: 0px 0px;
}
.find-specialities-inner img {
  height: 96px !important;
}
.specialist-outer img {
  height: 123px !important;
}
.doctorprofile img {
  width: 105px;
  height: 105px !;
  border-radius: 70px;
}
.doctor-list {
  padding: 15px 0;
}
.doctor-inner.doctor-list :focus {
  outline: none;
}
.col-lg-6.ng-star-inserted {
  margin-bottom: 20px;
}
.doctor-inner-detail h5 {
  text-align: left;
}
.doctorprofile .find-specialities-img {
  padding: 0 !important;
  margin-top: 24px;
}

.doctor-inner-detail h5 {
  padding-top: 15px !important;
}
.doctor-inner-detail button {
  background: #42c7d6;
  padding: 10px 14px;
  margin-bottom: 20px;
  border-radius: 12px;
  color: #fff;
  border: none;
}
.find-specialities-img img {
  border-radius: 78px;
}
.find-doctor-detail img {
  height: 104px !important;
}

.doctor-list img {
  width: 105px;
  height: 106px;
  border-radius: 70px;
}
.doctor-list .doctorprofile {
  margin-left: 23px;
  margin-top: 22px;
}
.doctor-inner-detail h2 {
  margin-bottom: 0 !important;
  margin-top: 5px;
}

input.form-control.ng-untouched.ng-pristine.ng-valid {
  background: transparent;
}
.specialist-outer {
  height: 366px;
  margin-bottom: 25px;
}
.specialist-outer h5 {
  padding: 20px 0px 10px 0px;
}
.specialist-outer .find-specialities-img {
  height: 286px;
  padding: 60px 5px;
  background: #0cb56f9a !important;
}
.col-md-12.p-0.past-med-list h1 {
  color: #42c8ca;
  font-weight: 500;
}
.prescription-med.mt-3.ng-star-inserted span {
  width: 20%;
  font-size: 17px;
}
.prescription-med.mt-3.ng-star-inserted h4 {
  display: flex;
}
.prescription-med.mt-3.ng-star-inserted p {
  width: 80%;
  float: left;
}
.income-status.aos-init.aos-animate.setting-main h4 {
  color: #42c8ca !important;
}
.income-status.aos-init.aos-animate.setting-main :focus {
  outline: none;
}
.input-main-div .OptionType3 .CountryNumberInput {
  background: #e9ecef !important;
}
.content-element.Attachment-reports-div h1 {
  margin-top: 10px;
  color: #47c9ca;
}

.Attachment-reports-div .prescription-med.mt-5.ng-star-inserted {
  margin: 0 !important;
}
.prescription-med.mt-5.Attachment-reports.ng-star-inserted {
  margin-bottom: 15px !important;
}
.prescription-med.mt-5.Attachment-reports {
  margin-top: 8px !important;
}
.profile-tabs button {
  background: #42c7d6;
  padding: 10px 25px;
  margin-top: 22px;
  border-radius: 12px;
  color: #fff;
  border: none;
}
.profile-tabs h2 {
  margin-bottom: 0 !important;
}
div#home p {
  margin-bottom: 0px;
}

.profile-tabs .book-now-doc-list p {
  margin-bottom: 15px !important;
}
.profile-tabs .invalid-feedback.ng-star-inserted {
  position: absolute;
  bottom: -16px;
  right: -18px;
}
.patient-call
  intl-input-phone.ng-untouched.ng-pristine.is-invalid.ng-invalid
  input {
  background-color: transparent;
}
div#personal-info h4 {
  font-size: 17px;
  font-weight: 400;
}
.col-lg-4.blog-prfile {
  margin-top: 24px;
  padding-left: 33px;
}
.col-lg-4.blog-prfile img {
  width: 100%;
  border-radius: 15px;
}
.col-lg-8.blog-profile-cont p {
  font-size: 16px;
}
div#working-info h4 {
  font-size: 17px;
  font-weight: 400;
}

.col-xs-12.col-sm-8.col-lg-10.rate-now-div p {
  margin-top: 13px;
  margin-bottom: 0 !important;
}
.col-xs-12.col-sm-8.col-lg-10.rate-now-div ul {
  margin: 0;
}
.col-xs-12.col-sm-8.col-lg-10.rate-now-div span {
  font-size: 26px;
  color: #fea605;
  outline: none;
}
.col-xs-12.col-sm-8.col-lg-10.rate-now-div :focus {
  outline: none;
}
div#home span {
  font-size: 24px;
}
intl-input-phone.ng-untouched.ng-dirty.ng-valid input {
  background: #fff !important;
}
.income-status.aos-init.aos-animate.psychologist-section p {
  margin-bottom: 10px;
  font-size: 16px;
}
.income-status.aos-init.aos-animate.psychologist-section ul {
  margin-bottom: 2px;
}
.find-specialities-inner .doctor-inner-detail p {
  margin-bottom: 6px;
  font-size: 16px;
}
.find-specialities-inner .doctor-inner-detail h5 {
  margin-bottom: 5px;
}
.find-specialities-inner .doctor-inner-detail ul {
  margin-bottom: 10px;
  font-size: 22px;
}

ul.videocall-btn {
  margin-top: 12px;
  text-align: center;
}
ul.videocall-btn button {
  padding: 4px 16px !important;
  border: 1px solid #ff0000;
  border-radius: 12px;
  background: #ff0000;
  color: #fff;
  position: relative;
  top: -61px;
}
.about-us-video {
  width: 100%;
  height: 500px;
}
.form-group.col-lg-6.patient-call .ng-star-inserted {
  position: absolute;
  top: 47px;
  right: 15px;
}

/* .doc-video-bg  .OT_mirrored .OT_root .OT_publisher .OT_fit-mode-cover {
  width: 100% !important;
}
div#OT_6a0e746e-3740-4cfb-98aa-84dec0ac53a1 {
  width: 100% !important;
} */
/* .login-screen header {
  
  top: 120px;
  width: 121px;
  right: 0;
  background: no-repeat;
  color: #fff;
} */
/* .login-screen ul.menu-icon {
  margin-bottom: 0;
} */
/* .login-screen a.text-main {
  color: #fff !important;
  text-transform: capitalize;
  font-size: 15px;
} */
