<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <input
              type="text"
              [(ngModel)]="term"
              class="form-control book-now-search"
              placeholder="Search here"
              style="width: 40%; margin: 30px 0px"
            />
            <div class="row">
             
                <div
                  class="col-lg-6 "
                  *ngFor="let item of list | filter: term; let i = index">
                
                  <div class="find-specialities-inner ">
                    <div class="row">
                      <div class="col-lg-4">
                      <div class="doctorprofile">
                     <div
                      class="find-specialities-img find-doctor-detail"
                      
                      (click)="getDoctorInfo(item)"
                    >
                      <span>
                        <img *ngIf="item.profilePic == null" />
                        <img
                          *ngIf="item.imagePath !== null"
                          [src]="rootUrl + item.profilePic"
                      /></span>
                    </div>
                  </div>
                  </div>
                  <div class="col-lg-8">
                  <div class="doctor-inner-detail">
                    <h5>{{ item.name }}</h5>
                    <p *ngFor="let specialty of item.doctorSpecialities">
                      {{ specialty.name }}
                    </p>
                    <ul>
                      <!-- <star-rating value={{item.rating}} [totalstars]="5" checkedcolor="gold" uncheckedcolor="grey"
                        size="24px" readonly="true"></star-rating> -->
                      <rating
                        [ngStyle]="{ color: 'gold' }"
                        style="text-align: right"
                        [(ngModel)]="item.rating"
                        [max]="5"
                        [readonly]="true"
                      ></rating>
                    </ul>
                    <button (click)="save(item)">Book An Appointment</button>
                  </div>
                </div>
                 </div>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
