<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element allergy-heading">
            <h1>ALLERGY</h1>
            <div class="row">
              <div *ngIf="noAllergyMedicalList">
                <h1>No Data display</h1>
              </div>
              <div class="col-md-12" *ngIf="!noAllergyMedicalList">
                <div class="prescription-med mt-3" *ngFor="let item of List">
                  <h4><span>ALLERGY NAME:</span><p>{{ item.allergyName }}</p></h4>
                  <h4><span>DESCRIPTION:</span><p>{{ item.description }}</p></h4>
                  <div class="dropdown show dotted-icn allergy-history">
                    <a
                    class="btn btn-secondary"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    
                    <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuLink"
                    >
                    <a class="dropdown-item">Delete</a>
                   
                  
                    </div>
                    </div>
                  <!-- <button (click)="onDelete(item.id)">Delete</button> -->
                  <!-- <a class="more-data">More</a> -->
                </div>
              </div>
            </div>

            <div class="row">
              <button routerLink="/allergy-history" class="add-btn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
