<div class="wrapper">
    <section class="body-wrap">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="body-content">
                    
                    <div class="content-element">
                        
                        
                        <div class="setting-page income-status aos-init aos-animate setting-main" data-aos="zoom-in">
                            
                            <div class="row">
                                <h4 class="mt-4">Notification</h4>
                                <div class="col-lg-12">
                                    <div class="setting-inner-div">
                                    <h5>50 People recommended this doctor 
near you. <span>40s</span></h5>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="setting-inner-div" style="background-color:transparent;">
                                    <h5>15 minutes left for your next 
appointment with Dr. Will Ohmsword <span>5min</span></h5>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="setting-inner-div">
                                    <h5>50 People recommended this doctor 
near you. <span>40s</span></h5>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="setting-inner-div" style="background-color:transparent;">
                                    <h5>15 minutes left for your next 
appointment with Dr. Will Ohmsword <span>5min</span></h5>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
            
                        
                        
                        
                        
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
