<div class="row">
  <div *ngIf="noPendingConsults">
    <h4>Yet there is no any Consults.</h4>
  </div>
  <div class="col-md-12 earning-main" *ngIf="!noPendingConsults">
    <div class="income-status" *ngFor="let item of listPendingConsults">
      <div class="row m-0">
        <div class="col-lg-1 successful-left-div">
          <span><img [src]="rootUrl + item.dr_ProfilePic" /></span>
        </div>
        <div class="col-lg-9 successful-center-div">
          <h2>Dr. {{ item.dr_FirstName }}&nbsp;{{ item.dr_LastName }}</h2>
          <h5 *ngFor="let specialities of item.doctorSpecialities">
            {{ specialities.name }}
          </h5>
        </div>
        <div class="col-lg-2 successful-right-div earning-right-div">
          <h4>{{ item.slotFrom | date: "dd-MM-yyyy" }}</h4>
          <p>
            {{ item.slotFrom | date: "hh:mm a" }} -
            {{ item.slotTo | date: "hh:mm a" }}
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12 payment-status">
          <h2>Payment status- <span>Pending</span></h2>
          <button (click)="cancelAppointment(item.appointmentId)">
            Cancel
          </button>
          <button (click)="sendData(item)">profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
