<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element consult-pending">
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="profile-tabs">
                  <div
                    class="income-status aos-init aos-animate psychologist-section"
                    data-aos="zoom-in"
                  >
                    <div class="tab-content">
                      <div id="home" class="tab-pane active">
                        <div class="row">
                          <div
                            class="col-xs-12 col-sm-4 col-lg-2 psychologist-left-sec"
                          >
                            <span><img src="{{ profilePic }}" /></span>
                            <i class='fas fa-pen'></i>
                            <input
                              type="file"
                              id="file"
                              class="fileinput"
                              (change)="changeProfilePic($event)"
                            />
                         
                          </div>
                          <div
                            class="col-xs-12 col-sm-8 col-lg-10 psychologist-right-sec"
                          >
                            <h2>
                              {{ viewData?.firstName }} {{ viewData?.lastName
                              }}<span
                                >Ratings 4.0
                                <ul>
                                  <li>
                                    <i
                                      class="fa fa-star"
                                      aria-hidden="true"
                                    ></i>
                                  </li>
                                  <li>
                                    <i
                                      class="fa fa-star"
                                      aria-hidden="true"
                                    ></i>
                                  </li>
                                  <li>
                                    <i
                                      class="fa fa-star"
                                      aria-hidden="true"
                                    ></i>
                                  </li>
                                  <li>
                                    <i
                                      class="fa fa-star"
                                      aria-hidden="true"
                                    ></i>
                                  </li>
                                </ul>
                              </span>
                            </h2> -->
                            <!-- <div class="icon-div">
                              <ul>
                                <li>
                                  <i class="fa fa-plus" aria-hidden="true"></i>
                                </li>
                                <li>
                                  <i
                                    class="fa fa-pencil-square-o"
                                    aria-hidden="true"
                                  ></i>
                                </li>
                              </ul>
                            </div> -->
                            <!-- <textarea
                              id="w3review"
                              name="w3review"
                              rows="5"
                              cols=""
                            >
A warm bedside manner, compassion and excellent listening  skills are the doctor traits...
                        </textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            
            <div class="row">
              <div class="col-md-12 info-tabs">
                <div class="profile-tabs">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#personal-info"
                        >Basic</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#working-info"
                        >Additional</a
                      >
                    </li>
                  </ul>

                  <div
                    class="income-status aos-init aos-animate psychologist-section"
                    data-aos="zoom-in"
                  >
                    <div class="tab-content">
                      <div id="personal-info" class="tab-pane active">
                        <br />
                        <app-basic></app-basic>
                      </div>

                      <div id="working-info" class="tab-pane fade">
                        <br />
                        <app-additional-info></app-additional-info>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
