<div class="row mt-4">



  <div class="col-lg-4" *ngFor="let item of specialityList; let i=index">
    <a class=" item">
      <div *ngIf="i<10">
        <div class="find-specialities-inner specialist-outer" (click)="save(item)">
          <div class="find-specialities-img" style="background-color:#e5eef5;">
            <span>
              <img *ngIf="item.profilePic==null" [src]="specialitiesPlaceholderImg">
              <img *ngIf="item.imagePath !==null" [src]="rootUrl + item.imagePath"></span>
          </div>
          <h5>{{item.name}}</h5>
        </div>
      </div>
    </a></div>
  <div class="col-lg-12 patient-view-btn">
    <a routerLink='/allSpecialitiesList'>View All</a>

  </div>
</div>
