<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0 family-history-list">
        <div class="body-content">
          <div class="content-element">
            <h1>Family History</h1>
            <div class="row">
              <div *ngIf="noFamilyHistoryList">
                <h1>No Data display</h1>
              </div>
              <div class="col-md-12" *ngIf="!noFamilyHistoryList">
                <div class="prescription-med mt-3" *ngFor="let item of List">
                  <h4><span>DISEASE NAME:</span><p>{{ item.diseaseName }}</p></h4>
                  <h4><span>MEMBER NAME :</span><p>{{ item.memberName }}</p></h4>
                  <h4><span>AGE :</span><p>{{ item.age }}</p></h4>
                  <h4><span>RELATION :</span><p>{{ item.relation }}</p></h4>
                  <h4><span>DESCRIPTION :</span><p>{{ item.description }}</p></h4>
                  <div class="dropdown show">
                    <a
                      class="btn btn-secondary"
                      role="button"
                      id="dropdownMenuLinks"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuLinks"
                    >
                      <a (click)="onDelete(item.id)" class="dropdown-item"
                        >Delete</a
                      >
                      <!-- <hr>
                      <a (click)="onDelete(item.id)" class="dropdown-item"
                        >Cancel</a
                      > -->
                    </div>
                  </div>
                  <!-- <a class="more-data">More</a> -->
                </div>
              </div>
            </div>
            <div class="row">
              <button routerLink="/family-history" class="add-btn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
