<div class="wrapper">

    <section class="body-wrap">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="body-content">
                    
                    <div class="content-element">
                        
                        <div class="row">
                         <div class="col-md-12">
                            <div class="prescription-med">
                                <p><span class="medicine-heading">Title:</span> 
                                <span class="med-description">Peracitamol</span></p>
                                <p><span class="medicine-heading">Description:</span> 
                                <span class="med-description">He is ill because of diarhhea.</span></p>
                                <p><span class="medicine-heading">Appointment ID:</span> 
                                <span class="med-description">#1235</span></p>
                                                        
                            </div>
                            <div class="prescription-med mt-5">
                                <form>
                                <div class="form-group col-lg-12">
                                    <input type="text" class="form-control" id="" placeholder="Title">
                                </div>
                                <div class="form-group col-lg-12 mb-0">
                                    <input type="text" class="form-control" id="" placeholder="Description">
                                </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                         <div class="col-md-12 info-tabs">
                            <div class="profile-tabs">
                                  <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" data-toggle="tab" href="#personal-info">Medicines</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#working-info">Test</a>
                                    </li>
                                    
                                  </ul>

                                  <div class=" aos-init aos-animate psychologist-section" data-aos="zoom-in">
                                     <div class="tab-content">
                                        <div id="personal-info" class=" tab-pane active">
                                            <div class="row">
                                                <div class="prescription-med">
                                                    <p><span class="medicine-heading">MEDICINE Name:</span> 
                                                    <span class="med-description">Peracitamol</span></p>
                                                    <p><span class="medicine-heading">MEDICINE Type:</span> 
                                                    <span class="med-description">Tablet</span></p>
                                                    <p><span class="medicine-heading">Quantity:</span> 
                                                    <span class="med-description">25mg</span></p>
                                                        <p><span class="medicine-heading">Medicine Usage:</span> 
                                                    <span class="med-description">One after breakfast and One after dinner.</span></p>
                                                </div>
                                                <div class="prescription-med mt-4">
                                                    <p><span class="medicine-heading">MEDICINE Name:</span> 
                                                    <span class="med-description">Peracitamol</span></p>
                                                    <p><span class="medicine-heading">MEDICINE Type:</span> 
                                                    <span class="med-description">Tablet</span></p>
                                                    <p><span class="medicine-heading">Quantity:</span> 
                                                    <span class="med-description">25mg</span></p>
                                                        <p><span class="medicine-heading">Medicine Usage:</span> 
                                                    <span class="med-description">One after breakfast and One after dinner.</span></p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        
                                        
                                        <div id="working-info" class=" tab-pane fade"><br>
                                            <div class="tab-content">
                                                <div class="row">
                                                 <div class="prescription-med ">
                                                    <p><span class="medicine-heading">Test Name:</span> 
                                                    <span class="med-description">Blood Parasite</span></p>
                                                    <p><span class="medicine-heading"> Description:</span> 
                                                    <span class="med-description">Treatment isn't always required for those with-
out symptoms. Patients with active.</span></p>
                                                
                                                </div>
                                                </div>
                                             </div>
                                            </div>
                                        
                                        
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

</div>

