<div class="wrapper">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="header-left">
            <li>
              <a>
                <img src="assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </header>
  <!--header ends here-->

  <div class="container sign-container">
    <section class="signup-main main-verification">
      <div class="row">
        <div class="col-lg-12">
          <div class="sign-left-sec">
            <!-- <h2>SIGNUP</h2> -->
          </div>
        </div>
        <div class="col-lg-12 pt-4 pb-4">
          <form>
            <h2>Please Enter {{ otpOnInput }}</h2>
            <p class="verification-text">
              A One time Passcode has been sent to
              <a class="d-block">{{ email }}</a> to verify your Email Address.
            </p>

            <div class="form-row email-verification">
              <div class="form-group col-lg-12">
                <ng-otp-input
                  (onInputChange)="onOtpChange($event)"
                  [config]="{ length: 4, allowNumbersOnly: true }"
                ></ng-otp-input>
              </div>
            </div>

            <div class="resend-otp">
              <p>
                Didn’t Recieve a code?
                <button type="text" (click)="resendOtp()">Resend OTP</button>
              </p>
            </div>
            <!-- <div class="sign-btn">
            <button class="sign-account" (click)="onSubmit()">
            Countinue
            </button>
            </div> -->
            <div class="sign-btn otp-btn">
              <a
                [routerLink]="['/login']"
                routerLinkActive="router-link-active"
                class="sign-back"
                >Back</a
              >
              <button
                [disabled]="!isDisabled"
                [ngClass]="!isDisabled ? 'disabledClass ' : 'sign-account'"
                (click)="onSubmit()"
              >
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
