<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <h1>ADD ALLERGY</h1>
            <div class="row">
              <div class="col-md-12">
                <div class="prescription-med mt-5">
                  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="allergyName"
                        [maxLength]="45"
                        placeholder="Name"
                      />
                    </div>

                    <div class="form-group col-lg-12">
                      <input
                        type="textarea"
                        class="form-control"
                        formControlName="description"
                        [maxLength]="250"
                        placeholder="Description"
                      />
                    </div>
                    <button>SAVE</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
