<div class="wrapper" #backToTop>
  <section class="body-wrap" style="background-color: #fff">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="blog-inner-main">
              <div class="row">
                <div class="col-lg-4" *ngFor="let item of List">
                  <div class="blog-inner-info">
                    <a class="item" routerLink="{{ item.id }}">
                      <div class="blog-img-div">
                        <img [src]="rootUrl + item.blogImagePath" />
                        <div class="blog-edit">
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="blog-description">
                        <h3>{{ item.title }}</h3>
                        <h6>
                          {{ item.createdDate }}
                          <span>{{ item.doctorName }}</span>
                        </h6>
                        <!--- <p>{{item.description}}</p>-->
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <pagination
                [totalItems]="totalCount"
                [itemsPerPage]="pageSize"
                [maxSize]="pageSize"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"
              >
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
