<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <div class="row">
          <div class="col-md-12">
            <div class="create-new-pass">
              <h2>Contact Us</h2>

              <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-lg-12">
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control"
                      placeholder="Name"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                    />
                    <div
                      *ngIf="submitted && f.name.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                  </div>
                  <div class="form-group col-lg-12">
                    <input
                      type="text"
                      formControlName="email"
                      class="form-control"
                      placeholder="email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    />
                    <div
                      *ngIf="submitted && f.email.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.email.errors.required">
                        Email is required
                      </div>
                      <div *ngIf="f.email.errors.email">
                        Please enter a valid email
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-lg-12">
                    <input
                      type="text"
                      formControlName="mobileNo"
                      class="form-control"
                      onlyNumber
                      maxlength="15"
                      placeholder="mobileNo"
                      [ngClass]="{
                        'is-invalid': submitted && f.mobileNo.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.mobileNo.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.mobileNo.errors.required">
                        Mobile No. is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-lg-12">
                    <input
                      type="text"
                      formControlName="message"
                      class="form-control"
                      placeholder="message"
                      [ngClass]="{
                        'is-invalid': submitted && f.message.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.message.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.message.errors.required">
                        Message is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sign-btn">
                  <button>Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
