<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0 past-med-history">
        <div class="body-content">
          <div class="content-element">
            <h1>Add Surgical History</h1>
            <div class="row">
              <div class="col-md-12">
                <div class="prescription-med mt-3">
                  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="treatmentName"
                        [maxLength]="45"
                        placeholder="Surgery Name"
                      />
                    </div>
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="doctorName"
                        [maxLength]="45"
                        appAlphabetOnly
                        placeholder="Doctor Name"
                      />
                    </div>

                    <div class="form-group col-lg-12">
                      <input
                        class="form-control"
                        #datepickerYMD="bsDatepicker"
                        bsDatepicker
                        formControlName="date"
                        readonly
                        id="Date"
                        required="Required"
                        [maxDate]="maxDate"
                        placeholder="Date"
                        autocomplete="off"
                        [bsConfig]="{
                          dateInputFormat: 'DD/MM/YYYY',
                          showWeekNumbers: false
                        }"
                      />
                    </div>
                    <div class="form-group col-lg-12">
                      <textarea
                        type="text"
                        class="form-control"
                        formControlName="description"
                        placeholder="Notes"
                        [maxLength]="250"
                        rows="3"
                      ></textarea>
                    </div>
                    <button>SAVE</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
