<div class="wrapper">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="header-left">
            <li>
              <a>
                <img src="assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </header>
  <!--header ends here-->

  <div class="container sign-container">
    <section class="signup-main">
      <div class="row">
        <div class="col-lg-12">
          <div class="create-new-pass">
            <h2>Forgot Password</h2>
            <p>
              Please enter your email and <br />
              we will send OTP Number
            </p>
            <form
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="onForgotPassword()"
            >
              <div class="form-row">
                <div class="form-group col-lg-12">
                  <!-- <input
                    type="text"
                    class="form-control"
                    id=""
                    placeholder="Email"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  /> -->
                  <!-- <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">
                      Please enter a valid email
                    </div>
                  </div> -->

                  <input
                    [class.is-invalid]="
                      forgotPasswordForm.get('email').invalid &&
                      forgotPasswordForm.get('email').touched
                    "
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />

                  <div *ngIf="(email.invalid && email.touched) || email.dirty">
                    <small *ngIf="email.errors?.required" class="text-danger"
                      >Email is required</small
                    >
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="email.errors?.pattern" class="text-danger"
                      >Please provide a valid email address</small
                    >
                  </div>
                </div>
              </div>
              <div class="sign-btn">
                <button
                  class="sign-account"
                  [disabled]="!forgotPasswordForm.valid"
                >
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
