<div class="wrapper">
  <section class="body-wrap" style="background-color: #fff">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="blog-inner-main">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-inner-info blog-inner-detail-info">
                    <h3>{{ blogDetails?.title }}</h3>
                    <div class="blog-info-profile">
                      <img
                        [src]="rootUrl + blogDetails?.doctorImagePath"
                        *ngIf="blogDetails?.doctorImagePath != null"
                      />
                      <div class="info-profile-text">
                        <h5>{{ blogDetails?.doctorName }}</h5>
                        <p class="info-blog-date">
                          {{ blogDetails?.createdDate }}
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 blog-prfile">
                        <img
                      [src]="rootUrl + blogDetails?.doctorImagePath"
                      *ngIf="blogDetails?.doctorImagePath != null"
                    />
                      </div>
                      <div class="col-lg-8 blog-profile-cont">
                        <p [innerHTML]="blogDetails?.description"></p>
                      </div>
                    </div>
                   
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
