<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element Attachment-reports-div ">
            <div class="row">
              <div class="col-md-12">
                <h1>ADD ATTACHMENT AND REPORTS</h1>
                <div class="prescription-med mt-5 Attachment-reports">
                  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col-lg-12 mb-0">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="ReportName"
                        [maxLength]="45"
                        placeholder="Report Name "
                      />
                    </div>

                    <div class="form-group col-lg-12 mb-0">
                      <input
                        class="form-control"
                        #datepickerYMD="bsDatepicker"
                        bsDatepicker
                        formControlName="Date"
                        [maxDate]="maxDate"
                        placeholder="Date"
                        autocomplete="off"
                        readOnly
                        [bsConfig]="{
                          dateInputFormat: 'DD/MM/YYYY',
                          showWeekNumbers: false
                        }"
                      />
                    </div>
                    <div class="form-group col-lg-12 mb-0">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="Description"
                        [maxLength]="250"
                        placeholder="Description"
                      />
                    </div>

                    <div class="form-group col-lg-12 mb-0">
                      <input
                        type="file"
                        id="file"
                        class="fileinput"
                        (change)="changeFile($event)"
                        formControlName="MedicalDocument"
                        class="form-control"
                      />
                      <div class ="Attach-file">
                        <p>File</p>
                      </div>

                    </div>
                    <br />
                    <button>SAVE</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
