<div class="wrapper">
  <section class="body-wrap" style="background-color: #fff">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="blog-inner-main">
              <div class="row">
                <div *ngIf="showUserReview">
                  <p>You have no reviews yet</p>
                </div>

                <div *ngIf="!showUserReview">
                  <div class="col-lg-12" *ngFor="let item of reviewList">
                    <div class="blog-inner-info">
                      <a class="item">
                        <div class="review-img-div img">
                          <img [src]="rootUrl + item.profilePic" />
                          <div class="blog-edit">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="blog-description">
                          <h3>{{ item.name }}</h3>
                          <h6>
                            {{ item.reviews }}
                            <span>{{ item.date }}</span>
                          </h6>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <pagination [totalItems]="totalCount" [itemsPerPage]="pageSize" [maxSize]="pageSize"
                [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
              </pagination> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
