/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #35cd93;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #35cd93;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  #booking-appointment .bs-datepicker-body table.days span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 19px;
    }
    #booking-appointment .bs-datepicker-head button.current {
    font-size: 23px;
    }
    #booking-appointment .bs-datepicker-body table th {
    font-size: 20px;
    padding: 14px 0px;
    }
    /* .bs-datepicker-body table td span.disabled, .bs-datepicker-body table td.disabled span {
    color: #6c757d;
    } */
    #booking-appointment .theme-green .bs-datepicker-head {
    background: linear-gradient(
    90deg,
    rgba(44, 200, 202, 1) 13%,
    rgba(55, 206, 127, 1) 100%
    );
    }
    .theme-green .bs-datepicker-body table td span.selected,
    .theme-green .bs-datepicker-body table td.selected span,
    .theme-green .bs-datepicker-body table td span[class*="select-"]:after,
    .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background: linear-gradient(
    90deg,
    rgba(44, 200, 202, 1) 13%,
    rgba(55, 206, 127, 1) 100%
    );
    }
    /* .bs-datepicker-body table td {
    color: #9aaec1 !important;
    } */
