<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0 past-med-list">
        <div class="body-content">
          <div class="content-element">
            <h1>Past Medical History</h1>
            <div class="row">
              <div *ngIf="noPastMedicalList">
                <h1>No Data display</h1>
              </div>
              <div class="col-md-12" *ngIf="!noPastMedicalList">
                <div class="prescription-med mt-3" *ngFor="let item of List">
                  <h4> <span>TREATMENT NAME:</span><p>{{ item.treatmentName }}</p></h4>
                  <h4> <span>DOCTOR NAME:</span><p>{{ item.doctorName }}</p></h4>
                  <h4><span>DATE:</span><p>{{ item.date }}</p></h4>
                  <h4><span>NOTES:</span> <p>{{ item.description }}</p></h4>

                  <div class="dropdown show">
                    <a
                      class="btn btn-secondary"
                      role="button"
                      id="dropdownMenuLink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>

                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuLink"
                    >
                      <a (click)="onDelete(item.id)" class="dropdown-item"
                        >Delete</a
                      >
                      <!-- <hr>
                      <a (click)="onDelete(item.id)" class="dropdown-item"
                      >Cancel</a
                    > -->
                    </div>
                  </div>
                  <!-- <div class="attachment-button">

                  <a class="more-data">More</a>
                </div> -->
                </div>
              </div>
            </div>

            <div class="row">
              <button routerLink="/past-medical" class="add-btn">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
