<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0 past-med-history">
        <div class="body-content">
          <div class="content-element">
            <h1>Add Family History</h1>
            <div class="row">
              <div class="col-md-12">
                <div class="prescription-med mt-3">
                  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="diseaseName"
                        placeholder="Disease Name"
                        [maxLength]="45"
                      />
                    </div>
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="memberName"
                        placeholder="Member Name"
                        [maxLength]="45"
                      />
                    </div>
                    <div class="form-group col-lg-12">
                      <input
                        onlyNumber
                        [maxlength]="2"
                        class="form-control"
                        formControlName="age"
                        placeholder="Age"
                      />
                      <!-- <select class="form-control" id="" placeholder="Age" formControlName="Age">
  <option *ngFor="let i of age(120,1)">{{i}}</option>
  </select> -->
                    </div>
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="relation"
                        placeholder="Relation"
                        [maxLength]="45"
                      />
                    </div>
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="description"
                        placeholder="Description"
                        [maxLength]="250"
                      />
                    </div>
                    <button>SAVE</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
