<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div class="col-lg-12">
                <div class="create-new-pass">
                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <h2>Please Enter</h2>
                    <p>
                      A One time Passcode has been sent to
                      <a class="d-block">
                        {{ dataForVerifyPhone.dialCode }}
                        {{ dataForVerifyPhone.phoneNo }}</a
                      >
                      to verify your Phone Number.
                    </p>

                    <div class="form-row email-verification">
                      <div class="form-group col-lg-12">
                        <ng-otp-input
                          (onInputChange)="onOtpChange($event)"
                          [config]="{ length: 4, allowNumbersOnly: true }"
                        ></ng-otp-input>
                      </div>
                    </div>

                    <div class="resend-otp">
                      <p>
                        Didn’t Recieve a code?
                        <button type="text" (click)="resendOtp()">
                          Resend OTP
                        </button>
                      </p>
                    </div>
                    <div class="sign-btn">
                      <button
                        [disabled]="!isDisabled"
                        [ngClass]="
                          !isDisabled ? 'disabledClass ' : 'sign-account'
                        "
                        (click)="onSubmit()"
                      >
                        Continue
                      </button>
                    </div>
                    <div class="sign-btn">
                      <a class="sign-back" (click)="onCancel()">Cancel</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
