<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7 col-lg-5">
        <ul class="header-left">
          <li>
            <a>
              <img src="assets/images/logo.png" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-5 col-lg-7">
        <ul class="header-right">
          <li>
          
            <a class="flip"><img src="assets/images/toggle-icon.png" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
