<div class="row">
  <div *ngIf="noPastConsults">
    <h4>Yet there is no any Consults.</h4>
  </div>
  <div class="col-md-12 earning-main" *ngIf="!noPastConsults">
    <div class="income-status" *ngFor="let item of pastConsultsList">
      <div class="row m-0">
        <div class="col-lg-1 successful-left-div">
          <span><img [src]="rootUrl + item?.dr_ProfilePic" /></span>
        </div>
        <div class="col-lg-8 successful-center-div">
          <h2>Dr. {{ item?.dr_FirstName }}&nbsp;{{ item?.dr_LastName }}</h2>
          <h5 *ngFor="let specialities of item.doctorSpecialities">
            {{ specialities?.name }}
          </h5>
        </div>
        <div class="col-lg-3 successful-right-div earning-right-div">
          <h4>{{ item?.date }}</h4>
          <p>
            {{ item?.slotFrom | date: "hh:mm a" }}-{{
              item?.slotTo | date: "hh:mm a"
            }}
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12 payment-status">
          <h2 *ngIf="item?.appointmentStatus == 0">
            Payment status- <span>Pending</span>
          </h2>
          <h2 *ngIf="item?.appointmentStatus == 1">
            Payment status- <span>Confirmed</span>
          </h2>
          <div class="dotted-drop">
            <div class="dropdown show dotted-icn">
              <a
                class="btn btn-secondary"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item">Pay Now</a>
                <a
                  class="dropdown-item"
                  *ngIf="item?.appointmentStatus == 1"
                  (click)="rateNow(item)"
                  >Rate Now</a
                >
                <a class="dropdown-item" (click)="sendData(item)"
                  >View Profile</a
                >
                <!-- <a class="dropdown-item Cancel">Cancel Appointment</a> -->
              </div>
            </div>
          </div>
          <!-- <button (click)="sendData(item)">profile</button>
          <button *ngIf="item.appointmentStatus == 1" (click)="rateNow(item)">
            Rate Now
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
